﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpage.Master" AutoEventWireup="true" CodeBehind="BrandWiseItemGP.aspx.cs" Inherits="WebPOS.Reports.SaleReports.BrandWiseItemGP" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">



    <div class="reports searchAppSection">
        <div class="contentContainer">
            <h2>Brand Wise Item GP</h2>
            <div class="BMSearchWrapper row align-items-end">
                <!-- <span>First time here? <br /><a href="riskValue.html">Click here to read more</a> </span> -->
                <div class="col col-12 col-sm-6 col-md-3">
                    <span class="userlLabel">From</span>
                    <asp:TextBox ID="fromTxbx" CssClass="datetimepicker fromTxbx Date" runat="server"></asp:TextBox>
                    <%--<input id="fromTxbx" class=" datetimepicker fromTxbx"  name="Date" type="text" />--%>
                </div>
                <div class="col col-12 col-sm-6 col-md-3">
                    <span class="userlLabel">To</span>
                    <asp:TextBox ID="toTxbx" CssClass="datetimepicker toTxbx Date" runat="server"></asp:TextBox>

                    <%--<input id="toTxbx" class="datetimepicker toTxbx" type="text"  name="Date"/>--%>
                </div>
                <div class="col col-12 col-sm-6 col-md-3">
                    <label>Brand</label>
                    <div class="d-inline-flex w-100">
                        <span class="input input--hoshi checkbox--hoshi float-left w-auto p-0 pt-1 h-auto">
                            <label>
                                <input id="brandCheck" class="checkbox" type="checkbox" checked />
                                <span></span>
                            </label>
                        </span>
                        <select id="BrandNameDD" class="dropdown" data-type="BrandName">
                            <option value="0">Select Brand</option>
                        </select>
                    </div>
                </div>




                <div class="col col-12 col-sm-3 col-md-2">
                    <a href="#" id="searchBtn" class="btn btn-bm"><i class="fas fa-spinner"></i>Get Record</a>
                </div>

                <div class="col col-12 col-sm-3 col-md-1">
                    <a href="#" id="print" class="btn btn-bm"><i class="fas fa-print"></i>Print</a>
                </div>
            </div>
            <!-- searchAppSection -->
        </div>
    </div>
    <!-- featuredSection -->

    <div class="businessManagerSellSection dayCashAndCreditSale businessManager BMtable" style="height: 299px">

        <div class="contentContainer">

            <div class="recommendedSection reports allItemsView">


                <div class="itemsHeader">
                    <div class="seven phCol">
                        <a href="javascript:void(0)">Serial No.</a>
                    </div>
                    
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Brand Name</a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Item Name</a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Qty</a>
                    </div>
                    
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Amount</a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Cost</a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Profit</a>
                    </div>
                </div>
                <!-- itemsHeader -->
                <div class="loader">
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell">
                                <i class="fas fa-spinner fa-spin  main_color_dark_shade"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="itemsSection">
                </div>
                <div class="itemsFooter">
                    <div class='itemRow newRow'>
                        <div class='seven'><span></span></div>
                        <div class='thirteen'><span></span></div>
                        <div class='thirteen'><span></span></div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalQuantity' />
                        </div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalAmount' />
                        </div>
                        <div class='thirteen'>
                            <span></span>
                        </div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalProfit' />
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- recommendedSection -->



    </div>

</asp:Content>
<asp:Content runat="server" ID="content4" ContentPlaceHolderID="Scripts">

    <script src="<%=ResolveClientUrl("/Script/Vendor/ddslick.js")%>?v=<%=DateTime.Now.ToString("MMddyyyyhhmm") %>"></script>

    <script src="<%=ResolveClientUrl("/Script/DropDown.js")%>?v=<%=DateTime.Now.ToString("MMddyyyyhhmm") %>"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            initializeDatePicker();
            appendAttribute.init("BrandNameDD", "BrandName");
            resizeTable();
        });

        $(window).resize(function () {
            resizeTable();

        });


        $("#toTxbx").on("keypress", function (e) {
            if (e.key == 13) {
                getReport();

            }
        });
        $("#searchBtn").on("click", function (e) {

            getReport();


        });
        function getReport() {
            $(".loader").show();
            clearInvoice();

            var brandId = 0;
            if ($("#brandCheck").prop("checked")) {
                brandId = $("#BrandNameDD .dd-selected-value").val();
            }
            $.ajax({
                url: '/Reports/SaleReports/BrandWiseItemGP.aspx/getReport',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "from": $(".fromTxbx").val(), "to": $(".toTxbx").val(), "brandCode": brandId }),
                success: function (response) {


                    if (response.d.Success) {
                        if (response.d.ListofInvoices.length > 0) {
                            clearInvoice();

                            for (var i = 0; i < response.d.ListofInvoices.length; i++) {


                                $("<div class='itemRow newRow'>" +
                                    "<div class='seven'><span>" + (parseInt(i) + 1) + "</span></div>" +
                                    "<div class='thirteen'><span>" + response.d.ListofInvoices[i].BrandName + "</span></div>" +
                                    "<div class='thirteen'><span>" + response.d.ListofInvoices[i].Description + "</span></div>" +
                                    "<div class='thirteen'><input  value=" + parseFloat(response.d.ListofInvoices[i].Quantity).toFixed(2) + " disabled name='Quantity' /></div>" +
                                    "<div class='thirteen'><input  value=" + parseFloat(response.d.ListofInvoices[i].Amount).toFixed(2) + " disabled name='Amount' /></div>" +
                                    "<div class='thirteen'><input  value=" + parseFloat(response.d.ListofInvoices[i].Cost).toFixed(2) + " disabled name='Cost' /></div>" +
                                    "<div class='thirteen'><input  value=" + parseFloat(response.d.ListofInvoices[i].Profit).toFixed(2) + " disabled name='Profit' /></div>" +
                                    "</div>").appendTo(".dayCashAndCreditSale .itemsSection");


                            }
                            $(".loader").hide();
                            calculateData();

                        } else {
                            $(".loader").hide(); swal({
                                title: "No Result Found ", type: 'error',
                                text: "No Result Found!"
                            });
                        }

                    }
                    else {
                        $(".loader").hide();
                        swal({
                            title: "there is some error",
                            text: response.d.Message
                        });
                    }

                },
                error: function (error) {
                    swal("Error", error.responseJSON.Message, "error"); $(".loader").hide();

                }
            });
        }

        function clearInvoice() {


            $(".itemsSection .itemRow").remove();
        }
        function calculateData() {

            var sum;
            var inputs = ['Quantity', 'Amount', 'Profit'];
            for (var i = 0; i < inputs.length; i++) {

                var currentInput = inputs[i];
                sum = 0;
                $("input[name = '" + currentInput + "']").each(function () {

                    if (this.value.trim() === "") {
                        sum = (parseFloat(sum) + parseFloat(0));
                    } else {
                        sum = (parseFloat(sum) + parseFloat(this.value));

                    }

                });

                $("[name=total" + currentInput + "]").val('');
                $("[name=total" + currentInput + "]").val(parseFloat(sum).toFixed(2));


            }

        }




    </script>

</asp:Content>
