﻿<%@ page title="" language="C#" masterpagefile="~/masterpage.Master" autoeventwireup="true" codebehind="DayCashAndCreditSale.aspx.cs" inherits="WebPOS.Reports.SaleReports.DayCashAndCreditSale" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:content id="Content2" contentplaceholderid="ContentPlaceHolder1" runat="server">



    <div class="reports searchAppSection">
        <div class="contentContainer">
            <h2>Day Cash And Credit Sale</h2>
            <div class="BMSearchWrapper row align-items-end">
                <!-- <span>First time here? <br /><a href="riskValue.html">Click here to read more</a> </span> -->
                <div class="col col-12 col-sm-3 col-md-3">
                    <span class="userlLabel">From</span>
                    <asp:TextBox ID="fromTxbx" CssClass="datetimepicker fromTxbx Date" runat="server"></asp:TextBox>
                    <%--<input id="fromTxbx" class=" datetimepicker fromTxbx"  name="Date" type="text" />--%>
                </div>
                <div class="col col-12 col-sm-3 col-md-3">
                    <span class="userlLabel">To</span>
                    <asp:TextBox ID="toTxbx" CssClass="datetimepicker toTxbx Date" runat="server"></asp:TextBox>

                    <%--<input id="toTxbx" class="datetimepicker toTxbx" type="text"  name="Date"/>--%>
                </div>
                <div class="col-12 col-md-3">
                    <label>Station</label>
                    <div class="d-inline-flex w-100">
                        <span class="input input--hoshi checkbox--hoshi float-left w-auto p-0 pt-1 h-auto">
                            <label>
                                <input id="stationCheck"  class="checkbox" type="checkbox" checked />
                                <span></span>
                            </label>
                        </span>
                        <select id="StationDD" class="dropdown" data-type="Station">
                            <option value="0">Select Station</option>
                        </select>
                    </div>
                </div>

                <div class="col col-12 col-sm-3 col-md-2">
                    <a href="#" id="searchBtn" class="btn btn-bm"><i class="fas fa-spinner"></i>Get Record</a>
                </div>

                <div class="col col-12 col-sm-3 col-md-1">
                    <a href="#" id="print" class="btn btn-bm"><i class="fas fa-print"></i>Print</a>
                </div>
            </div>
            <!-- searchAppSection -->
        </div>
    </div>
    <!-- featuredSection -->

    <div class="businessManagerSellSection dayCashAndCreditSale businessManager BMtable" style="height: 299px">

        <div class="contentContainer">

            <div class="reports recommendedSection allItemsView">


                <div class="itemsHeader">
                    <div class="seven phCol">
                        <a href="javascript:void(0)">Date
                        </a>
                    </div>
                    <div class="seven phCol">
                        <a href="javascript:void(0)">Invoice
                        </a>
                    </div>
                    <div class="thirteen  phCol">
                        <a href="javascript:void(0)">Name
                        </a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Total
                        </a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Discount
											
                        </a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Cash Paid
											
                        </a>
                    </div>
                    <div class="thirteen phCol">
                        <a href="javascript:void(0)">Balance
											
                        </a>
                    </div>
                </div>
                <!-- itemsHeader -->
                <div class="loader">
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell">
                                <i class="fas fa-spinner fa-spin  main_color_dark_shade"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="itemsSection">
                </div>
                <div class="itemsFooter">
                    <div class='itemRow newRow'>
                        <div class='seven'><span></span></div>
                        <div class='seven'><span></span></div>
                        <div class='thirteen'><span></span></div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalTotal' /></div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalDiscount' /></div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalPaid' /></div>
                        <div class='thirteen'>
                            <input disabled="disabled" name='totalBalance' /></div>

                    </div>
                </div>

            </div>

        </div>
        <!-- recommendedSection -->



    </div>
    
    <%@ Register Src="~/Transactions/_ExpenseDetail.ascx" TagName="_ExpenseDetail" TagPrefix="uc" %>
    <uc:_expensedetail id="_ExpenseDetail1" runat="server" />
</asp:content>
<asp:content runat="server" id="content4" contentplaceholderid="Scripts">
    <script src="<%=ResolveClientUrl("/Script/Dropdown.js")%>?v=<%=DateTime.Now.ToString("MMddyyyyhhmm") %>"></script>
    <script src="/Script/Voucher/ExpenseDetail.js?v=<%=DateTime.Now.ToString("MMddyyyyhhmm") %>"></script>

    <script type="text/javascript">
        
        $(document).ready(function () {
            initializeDatePicker();
            appendAttribute.init("StationDD", "Station");
            resizeTable();
        });

        $(window).resize(function () {
            resizeTable();
        });
        $(document).on('click', '#print', function () {
            printThisTransaction();
        });
        $(document).on('keydown', function (e) {
            if ((e.ctrlKey || e.metaKey) && (e.key == "p" || e.charCode == 16 || e.charCode == 112 || e.keyCode == 80)) { //Ctrl + P
                e.preventDefault();
                printThisTransaction();
            }
        });
        function printThisTransaction() {
            var stationId = 0;
            var stationName = '';
            if ($("#stationCheck").prop("checked")) {
                stationId = $("#StationDD .dd-selected-value").val();
                stationName = $("#StationDD .dd-selected-text").text();
            }
            window.open(
                '/Reports/SaleReports/Prints/DayCashAndCreditSaleHtmlPrint_A4.aspx?from=' + $(".fromTxbx").val() + '&to=' + $(".toTxbx").val() + '&stationId=' + stationId + '&stationName=' + stationName,
                '_blank'
            );
        }
        $("#toTxbx").on("keypress", function (e) {
            if (e.key == 13) {
                $("#currentPage").remove();
                $("<input hidden id='currentPage' value='" + 0 + "' />").appendTo("body");
                clearInvoice();
                getReport();

            }
        });

        $("#searchBtn").on("click", function (e) {

            $("#currentPage").remove();
            $("<input hidden id='currentPage' value='" + 0 + "' />").appendTo("body");
            clearInvoice();
            getReport();

        });
        function getReport() {
            $(".loader").show();
            var currentPage = $("#currentPage").val() == "" || $("#currentPage").val() == undefined ? "0" : $("#currentPage").val();

            var data = {
                from: $(".fromTxbx").val(),
                to: $(".toTxbx").val(),
                stationId: 0
            }
             if ($("#stationCheck").prop("checked")) {
               data.stationId = $("#StationDD .dd-selected-value").val();
           }
            $.ajax({
                url: '/Reports/SaleReports/DayCashAndCreditSale.aspx/getReport',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.d.Success) {
                        if (response.d.ListofInvoices.length > 0) {
                            for (var i = 0; i < response.d.ListofInvoices.length; i++) {
                                if (response.d.ListofInvoices[i].PartyName == "Expences") {
                                    
                                $("<div class='itemRow newRow'>" +
                                    "<div class='seven'><span class='text-danger'>--</span></div>" +
                                    "<div class='seven'><span class='text-danger'>--</span></div>" +
                                    "<div class='thirteen name'><input class='text-danger' value='" + response.d.ListofInvoices[i].PartyName + "' disabled /></div>" +
                                    "<div class='thirteen'><input name='Total' type='text' value='" + response.d.ListofInvoices[i].Total+ "' hidden /></div>" +
                                    "<div class='thirteen'><input name='Discount' value='0' hidden /><span class='text-danger text-right'>--</span></div>" +
                                    "<div class='thirteen'><input name='Paid'  value='" + Number(-response.d.ListofInvoices[i].Paid).toFixed(2) + "' hidden /><span class='text-danger text-right'><a onclick='getExpenseDetails(this)' data-expenseamount='" + Number(response.d.ListofInvoices[i].Paid).toFixed(2) + "' data-stationid='" + $("#StationDD .dd-selected-value").val() + "'><i class='fas fa-info-circle'></i>  " + Number(response.d.ListofInvoices[i].Paid).toFixed(2) + "</a></span></div>" +
                                    "<div class='thirteen'><input name='Balance'  value='0' hidden /><span class='text-danger text-right'>--</span></div>" +
                                    "</div>").appendTo(".dayCashAndCreditSale .itemsSection");
                                } else {
                                    
                                $("<div class='itemRow newRow'>" +
                                    "<div class='seven'><span>" + response.d.ListofInvoices[i].Date + "</span></div>" +
                                    "<div class='seven'><span><a class='text-info text-underline float-left' target='_blank' href='/Correction/SaleEditNew.aspx?InvNo=" + response.d.ListofInvoices[i].InvoiceNumber + "'>" + response.d.ListofInvoices[i].InvoiceNumber + "</a></span></div>" +
                                    "<div class='thirteen name'><input  id='newDescriptionTextbox_" + i + "' value='" + response.d.ListofInvoices[i].PartyName + "' disabled /></div>" +
                                    "<div class='thirteen'><input name='Total' type='text' id='newQtyTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Total).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Discount'  id='newRateTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].NetDiscount).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Paid'  id='newGAmountTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Paid).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Balance'  id='newItemDTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Balance).toFixed(2) + " disabled /></div>" +
                                    "</div>").appendTo(".dayCashAndCreditSale .itemsSection");
                                }
                            }
                            $(".loader").hide();
                            calculateData();

                        } else if (response.d.ListofInvoices.length == 0 && currentPage == "0") {
                            $(".loader").hide(); swal({
                                title: "No Result Found ", type:'error',
                                text: "No Result Found!"
                            });
                        }

                    }
                    else {
                        $(".loader").hide();
                        swal({
                            title: "there is some error",
                            text: response.d.Message
                        });
                    }

                },
                error: function (error) {
                    swal("Error", error.responseJSON.Message, "error"); $(".loader").hide();

                }
            });
        }

        function clearInvoice() {


            $(".itemsSection .itemRow").remove();
        }
        function calculateData() {

            var sum;
            var inputs = ["Total", 'Discount', 'Paid', 'Balance'];
            for (var i = 0; i < inputs.length; i++) {

                var currentInput = inputs[i];
                sum = 0;
                $("input[name = '" + currentInput + "']").each(function () {

                    if (this.value.trim() === "") {
                        sum = (Number(sum) + Number(0));
                    } else {
                        sum = (Number(sum) + Number(this.value));

                    }

                });

                $("[name=total" + currentInput + "]").val('');
                $("[name=total" + currentInput + "]").val(Number(sum).toFixed(2));


            }

        }
    </script>
</asp:content>
