
/*
.button{
  @extend .HelveticaRegular;
   @include single-transition(background, 0.5s);
  border-top: darken($black, 10%) 5px solid;
 
  &:hover{
   @include single-transition(background, 0.5s);
  border-top: darken($black, 18%) 5px solid;
  background: darken($black, 13%);
  }
 
}//button
*/

*::-webkit-scrollbar {
    width: 1em !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #d70026 !important;
    border-radius: 10px !important;
}

.button {
    padding: 0px 10px;
    color: #565656;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0px 10px;
    float: left;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.6.3 ");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3 ") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3 ") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3 ") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3 ") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3 #fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.allItemsView {
    position: relative;
}

    .fa, .allItemsView .downArrow:after, .allItemsView .upArrow:after, .fa-chevron-next:before, .fa-envelope:before, .fa-clock:before, .fa-phone:before, .fa-list:before, .fa-calendar:before, .fa-gender:before, .fa-sort-up:before {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-decoration: none;
        font-size: 25px;
    }

    .allItemsView .itemRow .noitem {
        text-align: center;
    }

    .allItemsView .itemsCol {
        width: 100%;
        padding-bottom: 0px;
    }

    .allItemsView .itemsSection {
        clear: both;
        float: left;
        width: 100%;
        height: 242px;
        overflow-y: scroll;
    }


    .allItemsView .itemsFooter {
        background: rgb(78, 117, 142);
        padding: 3px;
        overflow: hidden;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 5px 5px;
        height: 29px;
        padding-left: 0;
    }

        .allItemsView .itemsFooter .serialNum,
        .allItemsView .itemsFooter .code,
        .allItemsView .itemsFooter .description, .allItemsView .itemsFooter .deleteRow,
        .allItemsView .itemsFooter .Amount,
        .allItemsView .itemsFooter .Qty,
        .allItemsView .itemsFooter .Rate {
            width: 5.3%;
            float: left;
            font-weight: bold;
            font-size: 16px;
        }

        .allItemsView .itemsFooter .serialNumData,
        .allItemsView .itemsFooter .codeData,
        .allItemsView .itemsFooter .descriptionData,
        .allItemsView .itemsFooter .AmountData,
        .allItemsView .itemsFooter .QtyData,
        .allItemsView .itemsFooter .RateData {
            width: 5.3%;
            float: left;
            font-weight: bold;
            font-size: inherit;
        }

        .allItemsView .itemsFooter .serialNum {
            width: 3%;
        }

            .allItemsView .itemsFooter .serialNum a,
            .allItemsView .itemsFooter .code a,
            .allItemsView .itemsFooter .description a,
            .allItemsView .itemsFooter .Amount a,
            .allItemsView .itemsFooter .Qty a,
            .allItemsView .itemsFooter .deleteRow a,
            .allItemsView .itemsFooter .Rate a {
                color: #ffffff;
                text-decoration: none;
            }




        .allItemsView .itemsFooter > div > div, .allItemsView .itemsHeader  div {
            border: 0 !important;
        }


    .allItemsView .itemsHeader {
        background: rgb(78, 117, 142);
        padding: 5px 8px 5px 8px;
        overflow: hidden;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 0px 0px;
    }

        .allItemsView .itemsHeader .serialNum,
        .allItemsView .itemsHeader .code,
        .allItemsView .itemsHeader .description, .allItemsView .itemsHeader .deleteRow,
        .allItemsView .itemsHeader .Amount,
        .allItemsView .itemsHeader .Qty,
        .allItemsView .itemsHeader .Rate {
            width: 5.3%;
            float: left;
            font-weight: bold;
            font-size: 12px;
        }

        .allItemsView .itemsHeader .serialNumData,
        .allItemsView .itemsHeader .codeData,
        .allItemsView .itemsHeader .descriptionData,
        .allItemsView .itemsHeader .AmountData,
        .allItemsView .itemsHeader .QtyData,
        .allItemsView .itemsHeader .RateData {
            width: 5.3%;
            float: left;
            font-weight: bold;
            font-size: 13px;
        }

        .allItemsView .itemsHeader .serialNum {
            width: 3%;
        }

            .allItemsView .itemsHeader .serialNum a,
            .allItemsView .itemsHeader .code a,
            .allItemsView .itemsHeader .description a,
            .allItemsView .itemsHeader .Amount a,
            .allItemsView .itemsHeader .Qty a,
            .allItemsView .itemsHeader .deleteRow a,
            .allItemsView .itemsHeader .Rate a {
                color: #ffffff;
                text-decoration: none;
            }

.fa, .check:before, .unCheck:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
}

.allItemsView .itemsHeader .description {
    width: 14%;
}

.allItemsView .itemsHeader .code {
    width: 5%;
}

.allItemsView .itemsHeader .Qty {
    width: 5%;
}

.allItemsView .itemsHeader .Rate {
    width: 5%;
}

.allItemsView .itemsHeader .Amount {
    width: 8%;
}



.allItemsView .itemsFooter .description {
    width: 14%;
}

.allItemsView .itemsFooter .code {
    width: 5%;
}

.allItemsView .itemsFooter .Qty {
    width: 5%;
}

.allItemsView .itemsFooter .Rate {
    width: 5%;
}

.allItemsView .itemsFooter .Amount {
    width: 8%;
}

.allItemsView .serialNumData,
.allItemsView .descriptionData,
.allItemsView .codeData,
.allItemsView .discountData,
.allItemsView .QtyData,
.allItemsView .ItemDData,
.allItemsView .dealData,
.allItemsView .RateData,
.allItemsView .GAmountData,
.allItemsView .NAmountData,
.allItemsView .PAmountData {
    width: 33.3%;
    float: left;
    line-height: 22px;
}

    .allItemsView .serialNumData span,
    .allItemsView .descriptionData span,
    .allItemsView .codeData span,
    .allItemsView .discountData span,
    .allItemsView .QtyData span,
    .allItemsView .ItemDData span,
    .allItemsView .dealData span,
    .allItemsView .RateData span,
    .allItemsView .NAmountData span,
    .allItemsView .PAmountData span,
    .allItemsView .GAmountData span {
        font-size: 13px;
    }


    .allItemsView .descriptionData input,
    .allItemsView .discountData input,
    .allItemsView .QtyData input,
    .allItemsView .ItemDData input,
    .allItemsView .dealData input,
    .allItemsView .RateData input,
    .allItemsView .NAmountData input,
    .allItemsView .PAmountData input,
    .allItemsView .GAmountData input {
        width: 90% !important;
        border: 0.5px solid #4E758E;
        -ms-border-radius: 5px;
        border-radius: 5px;
        color: #4E758E;
        font-weight: 700;
        text-align: right;
        padding: 0px 5px;
    }

    .allItemsView .descriptionData input {
        width: 90% !important;
        border: 0.5px solid #4E758E;
        -ms-border-radius: 5px;
        border-radius: 5px;
        color: #4E758E;
        text-align: left;
        font-weight: 700;
        padding: 0px 5px;
    }
/*.allItemsView .itemRow .serialNumData input {
	 width: 3%;
}
.allItemsView .itemRow .descriptionData input {
  width: 25% !important;
}
.allItemsView .itemRow .codeData  input{
  width: 7% !important;
}.allItemsView .itemRow .discountData input {
  width: 7% !important;
}
.allItemsView .itemRow .QtyData  input{
  width: 7% !important;
}
.allItemsView .itemRow .ItemDData  input{
  width: 7% !important;
}
.allItemsView .itemRow .dealData input {
  width: 7% !important;
}
.allItemsView .itemRow .RateData input {
  width: 7% !important;
}
.allItemsView .itemRow .GAmountData  input{
  width: 100% !important;
}.allItemsView .itemRow .NAmountData input {
 width: 100% !important;
}
.allItemsView .itemRow .PAmountData  input{
 width: 100% !important;
}*/




.allItemsView .itemRow .serialNumData {
    width: 3%;
}

.allItemsView .itemRow .descriptionData {
    width: 14% !important;
}

.allItemsView .itemRow .codeData {
    width: 5% !important;
}

.allItemsView .itemRow .discountData {
    width: 5% !important;
}

.allItemsView .itemRow .QtyData {
    width: 5% !important;
}

.allItemsView .itemRow .ItemDData {
    width: 5% !important;
}

.allItemsView .itemRow .dealData {
    width: 5% !important;
}

.allItemsView .itemRow .RateData {
    width: 5% !important;
}

.allItemsView .itemRow .GAmountData {
    width: 8% !important;
}

.allItemsView .itemRow .NAmountData {
    width: 8% !important;
}

.allItemsView .itemRow .PAmountData {
    width: 8% !important;
}

.allItemsView .itemRow .deleteRowData {
    text-align: center;
    width: 2%;
    margin: -2px;
    float: right;
}

.allItemsView .itemRow .rowRecord {
    text-align: center;
    width: 2%;
    float: right;
    font-size: large !important;
    /*padding: 1px;*/
}

.allItemsView .itemsFooter .itemRow {
    background: transparent;
    overflow: hidden;
    height: 24px;
    margin-left: 0;
    padding: 12px;
    padding-top: 0px;
    position: relative;
    padding: 1px;
    height: 25px;
    float: left;
    width: 100%;
    padding: 0px 15px 0px 8px;
}

.allItemsView .dd-option {
    background: #2b92c1 !important;
}

.allItemsView .dd-option {
    padding-top: 2px !important;
}

@media (max-width: 767px) {
    .allItemsView .itemsHeader, .allItemsView .itemRow input {
        font-size: 8px;
    }
}

@media (max-width: 1200px) {
    .allItemsView .itemsHeader a {
        font-size: 11px;
    }

    body {
        font-size: 11px;
    }

    .footerTotalTextSection .itemMeta {
        font-size: 11px;
    }
}

@media (max-width: 1000px) {
    .allItemsView .itemsHeader a {
        font-size: 11px;
    }
}

@media (max-width: 750px) {
    .allItemsView .itemsHeader a, .allItemsView .itemRow input {
        font-size: 9px;
    }

        .allItemsView .itemsHeader a span {
            display: none;
        }
}




@media (max-width: 767px) {
    .allItemsView .itemsFooter {
        font-size: 8px;
    }
}

@media (max-width: 1200px) {
    .allItemsView .itemsFooter a {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .allItemsView .itemsFooter a {
        font-size: 11px;
    }
}

@media (max-width: 750px) {
    .allItemsView .itemsFooter a {
        font-size: 9px;
    }

        .allItemsView .itemsFooter a span {
            display: none;
        }
}

.allItemsView .itemsSection .itemRow:hover {
    background: #d4d7d9;
}

.allItemsView .itemRow {
    position: relative;
    background: whitesmoke;
    /* overflow: hidden; */
    padding: 1px;
    /*height: 25px;*/
    float: left;
    width: 100%;
}

    .allItemsView .itemRow span {
        clear: both;
        padding: 8px;
        font-size: 13px;
        padding-left: 0;
        border: none;
        /* border-left: 1px solid; */
        -ms-border-radius: 0;
        border-radius: 0;
        color: #002a4f;
        font-weight: 700;
        padding: 5px 5px;
        float: left;
        width: 100%;
    }

.name span {
    text-align: left !important;
}

@media (max-width: 479px) {
    .allItemsView .itemRow span {
        font-size: 12px;
    }
}

.allItemsView .itemRecord,
.allItemsView .itemDetail {
    width: 33.3%;
    float: left;
    line-height: 22px;
}

    .allItemsView .itemRecord a,
    .allItemsView .itemDetail a {
        font-size: 16px;
    }

@media (max-width: 767px) {
    .allItemsView .itemRecord a, .allItemsView .itemDetail a {
        font-size: 14px;
    }
}

@media (max-width: 479px) {
    .allItemsView .itemRecord a, .allItemsView .itemDetail a {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .allItemsView .itemRecord, .allItemsView .itemDetail {
        width: 100%;
        padding-left: 50px;
        padding-bottom: 10px;
        line-height: 15px;
    }
}

.allItemsView .itemDetail {
    width: 30.3%;
}

@media (max-width: 767px) {
    .allItemsView .itemDetail {
        width: 100%;
    }
}

.allItemsView .itemRecommended {
    width: 30.3%;
    float: left;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .allItemsView .itemRecommended {
        width: 100%;
        padding-left: 50px;
    }
}

.allItemsView .appThumb {
    float: left;
    width: 45px;
    height: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-right: 4%;
    overflow: hidden;
}

    .allItemsView .appThumb img {
        width: 100%;
    }

@media (max-width: 767px) {
    .allItemsView .appThumb {
        position: absolute;
        top: 10px;
        left: 10px;
        width: auto;
        height: auto;
        padding: 10px;
    }
}

.allItemsView .appTitle {
    float: left;
    line-height: 22px;
}

    .allItemsView .appTitle a {
        display: block;
        color: rgb(78, 117, 142);
        font-size: 16px;
        text-decoration: none;
        line-height: 18px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .allItemsView .appTitle a:hover {
            color: rgb(78, 117, 142);
        }

@media (max-width: 1023px) {
    .allItemsView .appTitle a {
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    .allItemsView .appTitle a {
        font-size: 14px;
        line-height: 15px;
    }
}

@media (max-width: 479px) {
    .allItemsView .appTitle a {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    .allItemsView .appTitle {
        width: calc(100% - 70px);
    }
}

@media (max-width: 479px) {
    .allItemsView .appTitle {
        width: 100%;
    }
}

.allItemsView .downArrow {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .allItemsView .downArrow:after {
        padding: 2px 0px 0px 4px;
        content: "";
        font-size: 15px;
        color: #fa4d6c;
    }

.allItemsView .upArrow {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .allItemsView .upArrow:after {
        padding: 2px 0px 0px 4px;
        content: "";
        font-size: 15px;
        color: #fa4d6c;
    }

.allItemsView .dd-container {
    border: none !important;
    float: left;
    width: 100% !important;
    height: 26px !important;
}

.allItemsView .dd-select {
    border: none !important;
    float: left;
    width: 100% !important;
    height: 26px !important;
}

.allItemsView .dd-selected {
    padding: 5px !important;
    padding-left: 8px !important;
    padding-right: 25px !important;
}

.allItemsView .dd-options {
    top: 23px !important;
}

@media (max-width: 767px) {
    .allItemsView .dd-container {
        display: block;
        margin-bottom: 20px;
    }
}

.allItemsView .paginationWrapp {
    float: left;
    width: 100%;
}

@media (max-width: 479px) {
    .allItemsView .paginationWrapp span {
        padding: 0px 6px;
    }
}

.invetationNA {
    color: red;
}

.recommendationSection .serialNum, .recommendationSection .allItemsView .itemsHeader .pdetail, .allItemsView .itemsHeader .recommendationSection .pdetail, .recommendationSection .allItemsView .itemsHeader .description, .allItemsView .itemsHeader .recommendationSection .description {
    width: 40% !important;
}

.recommendationSection .pdetail {
    width: 30% !important;
}

.recommendationSection .description {
    width: 20% !important;
}

.recommendationSection .itemRecommended {
    width: 40% !important;
}

@media (max-width: 767px) {
    .recommendationSection .itemRecommended {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.recommendationSection .itemRecord, .recommendationSection .allItemsView .itemDetail, .allItemsView .recommendationSection .itemDetail {
    width: 30% !important;
}

@media (max-width: 767px) {
    .recommendationSection .itemRecord, .recommendationSection .allItemsView .itemDetail, .allItemsView .recommendationSection .itemDetail {
        width: 100% !important;
    }
}

.recommendationSection .itemDetail {
    width: 30% !important;
}

@media (max-width: 767px) {
    .recommendationSection .itemDetail {
        width: 100% !important;
    }
}

.recommendationSection h3 {
    margin: 20px 0px 00px 20px;
    color: #DEDEDE;
    font-weight: normal;
    font-size: 18px;
}

@media (max-width: 767px) {
    .recommendationSection h3 {
        margin: 10px 0 0 10px;
        font-size: 17px;
    }
}

.myrecommendationSection {
    margin: 20px 0 20px !important;
}

.appselectionWrapp {
    margin-bottom: 15px;
    overflow: hidden;
}

    .appselectionWrapp .selectionInput {
        display: none;
        clear: both;
        padding: 5px 19px;
    }

    .appselectionWrapp label {
        float: left;
        clear: both;
        padding: 10px 0px;
    }

    .appselectionWrapp input[type="checkbox"] {
        -webkit-appearance: checkbox;
    }

    .appselectionWrapp .formField {
        background: #ffffff;
        border: 1px solid rgb(78, 117, 142);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-appearance: none;
        padding: 13px 10px;
        font-size: 16px;
        color: rgb(78, 117, 142);
        outline: none;
        width: 318px;
    }

@media (max-width: 479px) {
    .appselectionWrapp .formField {
        width: 100%;
        padding: 9px 10px;
    }
}

.appselectionWrapp .appdate .formField {
    width: 150px;
}

@media (max-width: 479px) {
    .appselectionWrapp .appdate .formField {
        width: 45%;
    }
}

@media (max-width: 1279px) {
    .pfrecommendationSection .contentContainer {
        padding: 0px 50px;
    }
}

@media (max-width: 1023px) {
    .pfrecommendationSection .contentContainer {
        padding: 0px 20px;
    }
}

@media (max-width: 767px) {
    .pfrecommendationSection .contentContainer {
        padding: 0px 13px;
    }
}


@media (max-width: 767px) {
    .pfmainSection .contentContainer {
        padding: 0px 13px !important;
    }
}

.fa-chevron-next {
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 83px;
    width: 100px;
}

    .fa-chevron-next:before {
        content: '\f054';
        font-size: 48px;
        color: #ffffff;
    }

@media (max-width: 1279px) {
    .fa-chevron-next {
        padding-top: 92px;
    }
}

@media (max-width: 1023px) {
    .fa-chevron-next {
        width: auto;
    }
}

@media (max-width: 767px) {
    .fa-chevron-next {
        display: none;
    }
}

.itemFeedbackView {
    background: #ffffff;
    padding: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #c5c5c5 0px 0px 3px;
    -webkit-box-shadow: #c5c5c5 0px 0px 3px;
    box-shadow: #c5c5c5 0px 0px 3px;
}

    .itemFeedbackView p {
        color: rgb(78, 117, 142);
        font-size: 16px;
        line-height: 20px;
    }

@media (max-width: 767px) {
    .itemFeedbackView p {
        font-size: 14px;
    }
}

.itemFeedbackView h2 {
    color: rgb(78, 117, 142);
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
}

@media (max-width: 767px) {
    .itemFeedbackView h2 {
        font-size: 22px;
    }
}

.itemFeedbackView input[type="radio"] {
    -webkit-appearance: radio;
}

.itemFeedbackView label {
    padding: 2px 5px 0px;
}

@media (max-width: 767px) {
    .itemFeedbackView {
        padding: 15px;
    }
}

.yesnoBtn {
    margin: 15px 0px;
    float: left;
    text-align: center;
    clear: both;
}

    .yesnoBtn button {
        border: 1px solid rgb(78, 117, 142);
        background: none;
        color: rgb(78, 117, 142);
        outline: none;
        float: left;
        padding: 8px 0px;
        cursor: pointer;
    }

    .yesnoBtn .yes {
        -moz-border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px 0px 0px 5px;
        width: 120px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

@media (max-width: 767px) {
    .yesnoBtn .yes {
        width: 95px;
    }
}

.yesnoBtn .no {
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px;
    width: 120px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 767px) {
    .yesnoBtn .no {
        width: 95px;
    }
}

.yesnoBtn .yes.selected {
    background: rgb(78, 117, 142);
    color: #ffffff;
}

.yesnoBtn .no.selected {
    border: 1px solid #F53030;
    background: #F53030;
    color: #ffffff;
}

.yesnoBtn .disabled {
    background: none !important;
    color: rgb(78, 117, 142) !important;
    border: 1px solid rgb(78, 117, 142) !important;
}

.pfRefernce {
    width: 1009px;
    overflow: hidden;
    margin: auto;
}

    .pfRefernce .adCol span {
        display: block;
        float: none;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0px;
    }

    .pfRefernce .functionsWrapp li {
        margin: 0px 13px;
    }

@media (max-width: 767px) {
    .pfRefernce .functionsWrapp li {
        margin: 0px 5px;
    }
}

.pfRefernce .searchedPost {
    width: 422px;
    float: left;
}

    .pfRefernce .searchedPost h2 span {
        float: none;
        padding: 0px;
    }

@media (max-width: 1023px) {
    .pfRefernce .searchedPost {
        width: 371px;
    }
}

@media (max-width: 767px) {
    .pfRefernce .searchedPost {
        width: 100%;
        margin-bottom: 0px;
    }
}

.pfRefernce .pCredentials {
    width: 422px;
    padding: 0px;
    overflow: hidden;
    float: right;
}

    .pfRefernce .pCredentials h2 {
        color: rgb(78, 117, 142);
        float: left;
        margin: 0px 0px 16px;
    }

@media (max-width: 767px) {
    .pfRefernce .pCredentials h2 {
        color: #ffffff;
        margin: 0px 0px 5px;
    }
}

.pfRefernce .pCredentials p {
    color: rgb(78, 117, 142);
    float: left;
    clear: both;
}

@media (max-width: 767px) {
    .pfRefernce .pCredentials p {
        color: #ffffff;
        font-size: 12px;
        margin: 5px 0px;
    }
}

@media (max-width: 1023px) {
    .pfRefernce .pCredentials {
        width: 274px;
    }
}

@media (max-width: 767px) {
    .pfRefernce .pCredentials {
        width: 100%;
        float: left;
        background: none;
        min-height: 50px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 12px;
    }
}

.pfRefernce .userIcon {
    float: left;
    width: 172px;
    text-align: center;
    padding: 40px 0px;
    background: #e0e0e0;
    height: 210px;
}

    .pfRefernce .userIcon:before {
        color: #ffffff;
        font-size: 118px;
    }

@media (max-width: 1279px) {
    .pfRefernce .userIcon {
        height: 227px;
        padding: 52px 0px;
    }
}

@media (max-width: 1023px) {
    .pfRefernce .userIcon {
        display: none;
    }
}

.pfRefernce .pData {
    float: left;
    padding: 38px 39px;
}

@media (max-width: 1279px) {
    .pfRefernce .pData {
        padding: 47px 39px;
    }
}

@media (max-width: 1023px) {
    .pfRefernce .pData {
        padding: 38px 39px;
    }
}

@media (max-width: 767px) {
    .pfRefernce .pData {
        padding: 0px;
    }
}

.pfRefernce .pfDate {
    clear: both;
    float: left;
}

    .pfRefernce .pfDate p {
        margin-bottom: 0px;
    }

@media (max-width: 767px) {
    .pfRefernce .pfDate p {
        font-size: 12px;
    }
}

.pfRefernce .pfDate span {
    clear: both;
    display: block;
    float: none;
    color: #ffffff;
    padding: 0px;
}

@media (max-width: 767px) {
    .pfRefernce .pfDate {
        display: none;
    }
}

@media (max-width: 1279px) {
    .pfRefernce {
        width: 907px;
    }
}

@media (max-width: 1023px) {
    .pfRefernce {
        width: 711px;
    }
}

@media (max-width: 767px) {
    .pfRefernce {
        width: 100%;
    }
}

.pfdMobile {
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .pfdMobile p {
        color: #ffffff;
        font-size: 12px;
        margin: 5px 0px;
    }
}

.pfdMobile span {
    display: block;
    float: none;
}

@media (max-width: 767px) {
    .pfdMobile span {
        color: #ffffff;
        font-size: 12px;
        margin: 5px 0px 0px;
        padding-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .pfdMobile {
        display: block;
        border-bottom: 1px solid #fa4d6c;
    }
}

.itemfeedbackBtn {
    margin: 42px auto 0px;
    float: none;
    text-align: center;
    width: 200px;
}

@media (max-width: 767px) {
    .itemfeedbackBtn {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 20px auto;
        line-height: 40px;
    }
}

.fa-envelope:before {
    content: '\f003';
    font-size: 15px;
}

.fa-clock:before {
    content: '\f017';
    font-size: 15px;
}

.fa-phone:before {
    content: '\f095';
    font-size: 15px;
}

.fa-list:before {
    content: '\f022';
    font-size: 15px;
}

.fa-calendar:before {
    content: '\f073';
    font-size: 15px;
}

.fa-gender:before {
    content: '\f007';
    font-size: 15px;
}

.pvHeading {
    margin-bottom: 15px !important;
}

@media (max-width: 767px) {
    .pvHeading {
        margin-bottom: 10px !important;
    }
}

/*.itemMeta div {
    height: 26px;
    width: 24.2%;
    float: left;
    margin: 5px 1% 0px 0%;
    border: 1px solid #5f8dab;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0px;
    line-height: 0px;
}*/

.itemMeta div span {
    float: left;
    color: #ffffff;
    padding: 0;
    display: block;
}

.itemMeta div input {
    /*width: 68%;*/
    height: 26px;
    /*border: 0;
        float: right;
        padding: 6px;*/
    font-weight: 700;
}

.manInv {
    overflow: visible !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    display: flex;
}

.checkbox {
    width: 26px !important;
}

.manInv input {
    /*width: 32% !important;*/
    float: left !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    height: 26px;
}

.partySection > div > input[type=checkbox] {
    margin-left: 5px;
}

.itemMeta div:nth-child(4n+4) {
    /*float: right;*/
    margin-right: 0px;
}

@media (max-width: 1023px) {
    .itemMeta div:nth-child(4n+4) {
        float: left;
        margin: 3px 11% 0px 0%;
    }
}

@media (max-width: 1023px) {
    .itemMeta div:nth-child(4n+4) {
        float: right;
        margin-right: 0px;
    }
}
/*@media (max-width: 1023px) {
  .itemMeta div {
    width: 48%;
    margin: 3px 2% 0px 0%;
}*/
}

@media (max-width: 767px) {
    .itemMeta div {
        width: 23.5%;
        font-size: x-small;
    }
}

.itemMeta .selectDiv {
    background: #5F8DAB !important;
    border: 0 solid #5f8dab;
    overflow: visible;
    height: 26px !important;
    margin: 0;
}

.itemMeta .ManSelectDiv {
    height: 24px !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.itemMeta .selectDivFirst {
    margin-top: 5px;
}

.dd-option {
    background: rgb(141, 165, 181) !important;
    border-bottom: solid 1px #9bafbd !important;
}

#salesManDD {
    /*width: 60% !important;*/
    float: left;
    margin-left: 5px;
}

.ManSelectDiv .dd-options {
    top: 24px;
    /*border-color: #8da5b5 !important;*/
}

.dd-options {
    top: 26px;
    /*border-color: #8da5b5 !important;*/
}

.dd-select {
    background: #5F8DAB;
}

    .dd-select a {
        color: white;
    }

.itemMeta .userlLabel {
    height: 30px;
    float: left;
    background: #5f8dab;
    color: #ffffff;
    width: 240px;
    text-align: left;
    width: 240px;
    /*position: absolute;*/
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 8px 5px;
    font-size: 14px;
}

@media (max-width: 1100px) {
    .form-control[type=text] {
        font-size: 14px !important;
    }
}

@media (max-width: 1200px) {
    .itemMeta .userlLabel {
        padding: 2px 5px !important;
    }
}

.itemMeta i {
    float: left;
    background: #fa4d6c;
    padding: 12px;
    color: #ffffff;
    width: 20%;
}

.simpleitemView .yesnoBtn {
    float: none;
    margin: auto;
    width: 300px;
}

    .simpleitemView .yesnoBtn button {
        padding: 14px 0px;
    }

@media (max-width: 767px) {
    .simpleitemView .yesnoBtn {
        width: 277px;
    }
}

.simpleitemView .yes {
    width: 150px;
}

@media (max-width: 767px) {
    .simpleitemView .yes {
        width: 115px;
    }
}

.simpleitemView .no {
    width: 150px;
}

@media (max-width: 767px) {
    .simpleitemView .no {
        width: 162px;
    }
}

.simpleitemView .no.selected {
    border: 1px solid #19BAB5;
    background: #19BAB5;
    color: #ffffff;
}

.simpleitemView .appselectionWrapp {
    clear: both;
    margin-top: 13px;
    float: left;
}

.simpleitemView .itemsSection {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #c5c5c5 0px 0px 3px;
    -webkit-box-shadow: #c5c5c5 0px 0px 3px;
    box-shadow: #c5c5c5 0px 0px 3px;
    background: #ffffff;
}

@media (max-width: 1279px) {
    .simpleitemView {
        padding: 0px;
    }
}

.itemappsRecommended {
    display: none;
}

    .itemappsRecommended .appTitle span.platformClass {
        color: #19BAB5;
    }

@media (max-width: 767px) {
    .itemappsRecommended .appTitle {
        line-height: 15px;
    }
}

.itemappsRecommended .itemDetail .mybusinessManagerBtn {
    text-align: center !important;
    line-height: 36px;
    margin-top: 7px;
}

@media (max-width: 767px) {
    .itemappsRecommended .itemDetail .mybusinessManagerBtn {
        margin-top: 5px;
    }
}

.feedbackSummary {
    float: left;
    margin: 10px 0px 0px;
    font-size: 13px;
}

    .feedbackSummary strong {
        margin-bottom: 5px;
        display: block;
    }

    .feedbackSummary span {
        margin-top: 10px;
        font-style: italic;
    }

@media (max-width: 767px) {
    .feedbackSummary {
        font-size: 12px;
    }
}

.licencemgmtWrapp .profName {
    width: 30% !important;
}

@media (max-width: 767px) {
    .licencemgmtWrapp .profName {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .profCode {
    width: 20% !important;
}

@media (max-width: 1023px) {
    .licencemgmtWrapp .profCode {
        width: 18% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .profCode {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .profRole {
    width: 18% !important;
}

@media (max-width: 1279px) {
    .licencemgmtWrapp .profRole {
        width: 12% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .profRole {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .profStatus {
    width: 17% !important;
}

@media (max-width: 1279px) {
    .licencemgmtWrapp .profStatus {
        width: 19% !important;
        text-align: left;
    }
}

@media (max-width: 1023px) {
    .licencemgmtWrapp .profStatus {
        width: 16% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .profStatus {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .profBtn {
    width: 10% !important;
}

    .licencemgmtWrapp .profBtn .mybusinessManagerBtn {
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        min-width: 30px;
        float: none;
    }

@media (max-width: 1279px) {
    .licencemgmtWrapp .profBtn {
        width: 12% !important;
    }
}

@media (max-width: 1023px) {
    .licencemgmtWrapp .profBtn {
        width: 17% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .profBtn {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .itemDetail.profRole {
    width: 18% !important;
}

@media (max-width: 1279px) {
    .licencemgmtWrapp .itemDetail.profRole {
        width: 12% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .itemDetail.profRole {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .itemDetail.profStatus {
    width: 17% !important;
}

    .licencemgmtWrapp .itemDetail.profStatus span {
        float: none;
    }

@media (max-width: 1279px) {
    .licencemgmtWrapp .itemDetail.profStatus {
        width: 19% !important;
    }
}

@media (max-width: 1023px) {
    .licencemgmtWrapp .itemDetail.profStatus {
        width: 16% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .itemDetail.profStatus {
        width: 100% !important;
        padding-left: 10px;
    }
}

.licencemgmtWrapp .itemDetail.profBtn {
    width: 10% !important;
}

@media (max-width: 1279px) {
    .licencemgmtWrapp .itemDetail.profBtn {
        width: 12% !important;
    }
}

@media (max-width: 1023px) {
    .licencemgmtWrapp .itemDetail.profBtn {
        width: 17% !important;
    }
}

@media (max-width: 767px) {
    .licencemgmtWrapp .itemDetail.profBtn {
        width: 100% !important;
        padding-left: 10px;
    }
}
/*.licencemgmtWrapp .itemRow {
  float: left;
  width: 100%;
  overflow: visible;
}
.licencemgmtWrapp .itemRow .profName {
  padding-top: 5px;
}
.licencemgmtWrapp .itemRow .profCode {
  padding-top: 5px;
}
.licencemgmtWrapp .itemRow .profRole {
  padding-top: 5px;
}
.licencemgmtWrapp .itemRow .profStatus {
  padding-top: 5px;
}*/
.licencemgmtWrapp .mobileheader {
    display: none;
}

@media (max-width: 767px) {
    .licencemgmtWrapp .mobileheader {
        display: block;
    }
}

.fa-sort-up {
    position: absolute;
    left: 9px;
}

    .fa-sort-up:before {
        content: '\f0de';
        font-size: 38px;
        color: #e0e0e0;
    }

@media (max-width: 767px) {
    .fa-sort-up {
        display: none;
    }
}

.licencePopover {
    z-index: 9;
    position: absolute;
    margin: 11px 10px;
    display: none;
}

    .licencePopover div {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: #c5c5c5 0px 0px 3px;
        -webkit-box-shadow: #c5c5c5 0px 0px 3px;
        box-shadow: #c5c5c5 0px 0px 3px;
        background: #F1F1F1;
        margin-top: 10px;
        overflow: hidden;
    }

@media (max-width: 767px) {
    .licencePopover div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -137px;
        margin-top: -83px;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

.licencePopover li a {
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-size: 13px !important;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 1px solid #e0e0e0;
}

    .licencePopover li a:hover {
        background: #fa4d6c;
        color: #ffffff;
    }

@media (max-width: 767px) {
    .licencePopover li a {
        font-size: 16px !important;
        padding: 20px 60px;
    }
}

@media (max-width: 767px) {
    .licencePopover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/overlaypopover.png") repeat;
        margin: 0px;
        z-index: 15;
    }
}

.addproBtn {
    float: right;
    margin: 10px 0px 20px;
}

@media (max-width: 767px) {
    .addproBtn {
        margin: 0px 0px 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
    }
}

.lmref {
    width: 100%;
    margin-bottom: 15px;
}

    .lmref .pCredentials {
        margin: auto;
        float: none;
    }

        .lmref .pCredentials .pData {
            padding: 27px 27px 14px;
        }

@media (max-width: 767px) {
    .lmref .pCredentials .pData {
        padding: 0px;
    }
}

.lmref .pCredentials p {
    font-size: 14px;
}

@media (max-width: 479px) {
    .lmref .pCredentials p {
        font-size: 12px;
    }
}

@media (max-width: 1279px) {
    .lmref .pCredentials {
        min-height: 203px;
    }
}

@media (max-width: 767px) {
    .lmref .pCredentials {
        min-height: 113px;
        border-bottom: 1px solid #fa4d6c;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@media (max-width: 479px) {
    .lmref .pCredentials h2 {
        font-size: 14px;
    }
}

@media (max-width: 1279px) {
    .lmref .userIcon {
        height: 206px;
        padding: 44px 0px;
    }
}

.dd-option-text {
    color: white;
    font-weight: 500;
}

.dd-option {
    padding: 13px !important;
    word-break: break-word;
}

.dd-selected {
    text-decoration: none;
    padding: 12px;
}

.dd-pointer {
    padding: 0px !important;
}

.dd-option-selected {
    background: #f6f6f6;
    display: none !important;
}

.dd-options {
    width: 100% !important;
    max-height: 250px;
    z-index: 20000 !important;
    background: #EEEEEE !important;
    margin: 0px 0 0 !important;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.unCheck:before {
    content: '\f00d';
    font-size: 19px;
    color: #F53030;
}

.simplePopupClose .unCheck {
    cursor: pointer;
}

    .simplePopupClose .unCheck:before {
        content: '\f00d';
        font-size: 26px;
        color: #ff9595;
    }

.disableClick {
    pointer-events: none;
    opacity: .5;
}

th {
    background-color: #666666 !important;
    color: white !important;
}


thead {
    /*border:#d70026 1px solid !important;*/
}

td, th {
    padding: 1px;
    vertical-align: middle;
    font-size: 14px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.ui-state-focus {
    background-color: #aeccde !important;
    color: #0e70af !important;
    border: 0 !important;
    cursor: pointer;
}

.ui-state-active {
    background-color: #95B2C5 !important;
    color: white !important;
    border: 0 !important;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

.ui-menu-item {
    width: 100%;
    background-color: rgb(247, 247, 247);
    height: 40px;
    color: #353535;
    border: 0px solid !important;
    padding: 8px 10px 0px 12px;
    font-weight: 700;
}


.searchDiv input {
    width: 100% !important;
}

.phoneDiv Input {
    width: 21% !important;
}

.phoneDiv .phoneInput {
    float: left;
    width: 45% !important;
}

.footerTotalSection {
    margin-top: 5px;
}

    .footerTotalSection .userData input {
        border: 1px solid #597a96;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 6px 5px 6px;
    }

    .footerTotalSection .userData {
        padding: 6px 0px 6px;
    }

.footerTotalSection {
    background: rgb(78, 117, 142);
    padding: 0px 0px 5px;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

.Ime-header {
    color: white;
    background: #4e758e;
}

    .Ime-header h4 {
        font-size: 30px;
        color: white;
    }

@media (max-width: 767px) {
    .footerTotalSection {
        padding: 2px 0 0 6px;
    }
}

.footerTotalSection .contentContainer {
    padding: 0px 20px;
}

@media (max-width: 1279px) {
    .footerTotalSection .contentContainer {
        padding: 0px 20px;
    }
}

@media (max-width: 1023px) {
    .footerTotalSection .contentContainer {
        padding: 0px 20px;
    }
}

@media (max-width: 767px) {
    .footerTotalSection .contentContainer {
        padding: 0px 13px;
    }
}

.footerTotalSection h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    margin: 0px 0 28px;
}

@media (max-width: 767px) {
    .footerTotalSection h2 {
        font-size: 22px;
        margin: 0px 0 19px;
    }
}

.footerTotalSection p {
    color: #ffffff;
    font-size: 16px;
}



.footerTotalSection span a {
    color: white;
}

.footerTotalSection span br {
    display: none;
}

@media (max-width: 479px) {
    .footerTotalSection span br {
        display: block;
    }
}

.footerTotalTextSection {
    padding: 5px;
}

    .footerTotalTextSection label {
        width: 100%;
        font-size: 14px;
        padding-bottom: 2px;
        color: #ffffff;
    }

    .footerTotalTextSection .itemMeta {
        width: 44%;
        float: right;
        font-size: 12px;
    }

    .footerTotalTextSection .textSection {
        margin: -2px 0px;
        line-height: 0;
        font-size: 11px;
        width: 46%;
        float: left;
    }

        .footerTotalTextSection .textSection .leftTextSection {
            width: 33%;
            float: left;
            padding: 5px;
        }

        .footerTotalTextSection .textSection .rightTextSection {
            width: 41%;
            float: left;
            margin-top: 8px;
        }

    .footerTotalTextSection .leftTextSection span {
        float: left;
        color: white;
        padding: 9px;
        width: 100% !important;
    }

    .footerTotalTextSection .textSection label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 100;
        color: white;
        width: 100% !important;
        margin-left: 20px;
    }

    .footerTotalTextSection .textSection input[type=checkbox], .footerTotalTextSection .textSection input[type=radio] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        top: 3px;
        left: -6px;
        position: relative;
    }

    /*.footerTotalTextSection .itemMeta div {
        height: 31px;
        width: 48.2%;
        float: right;
        margin: 5px 1% 0px 0%;
        border: 1px solid #5f8dab;
        overflow: hidden;
        text-align: center;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 0px;
        line-height: 5px;
    }*/

    /*@media (max-width: 767px) {

    .footerTotalTextSection .itemMeta div {
        height: 23px;
        width: 45.2%;
        margin: 3px 1% 0px 0%;
        line-height: 0;
    }
}*/




    /*.footerTotalTextSection .itemMeta div input {
    color: #4E758E;
    width: 60%;
    height: 30px;
    background: #e4e4e4;
    border: 0;
    float: right;
    padding: 5px;
    font-weight: 700;
    text-align: right;
}

@media (max-width: 767px) {

    .footerTotalTextSection .itemMeta div input {
        color: #4E758E;
        width: 60% !important;  
        height: 23px;
        background: #e4e4e4;
        border: 0;
        float: right;
        padding: 2px;
        font-weight: 700;
        text-align: right;
    }
}*/
    .footerTotalTextSection .form-control[type=text] {
        height: 30px;
        display: inline-block;
        /* padding-left: 127px !important; */
        margin-bottom: 5px;
    }

    .footerTotalTextSection .itemMeta .splitDiv span {
        float: left;
    }

    .footerTotalTextSection .itemMeta .splitDiv input {
        
        width: 100% !important;
        float: right !important;
    }

    .footerTotalTextSection .itemMeta .splitDiv .firstSplitInput {
        width: 50px !important;
        float: left !important;
    }

    .footerTotalTextSection .itemMeta .splitDiv input:last-child {
        margin-left: 5px;
    }
/*.footerTotalTextSection .itemMeta .totalReceived
		{
	   overflow: visible !important;
	   position: relative !important;
}*/
/*.footerTotalTextSection .itemMeta .totalBalance
		{
				overflow: visible !important;
	width: 100.5% !important;
	left: -1px !important;
	position: absolute !important;
	top: 30px !important;
}*/
.CheckBoxSection {
    display: inline-block;
    width: 23%;
}

.squaredOne {
    height: 24px !important;
    width: 7% !important;
    float: right !important;
    margin: 0 !important;
    border: 0 !important;
    overflow: visible !important;
    text-align: center !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 0 !important;
    padding: 0px !important;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    line-height: 0px !important;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

    .squaredOne input {
        color: #4E758E !important;
        width: 100% !important;
        height: 18px !important;
        background: #e4e4e4 !important;
        border: 0 !important;
        float: right !important;
        padding: 12px !important;
    }

#clientCode {
    float: left !important;
}

/*.dd-container, .dd-selected, .dd-select {
    height: 26px !important;
}*/

@media (max-width: 767px) {

    .itemMeta .selectDivFirst {
        margin-top: 3px;
    }
}

.simplePopup .formrow:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after, .wrapper:after, .contentContainer:after, .mainContent:after, .footerBottom:after, .newsSection:after, .featuredSection:after, .simplePopup .formrow:after {
    clear: both;
}

.simplePopup {
    display: none;
    position: fixed;
    color: #000;
    padding: 30px;
    width: 823px;
    z-index: 99;
}

@media (max-width: 1023px) {
    .simplePopup {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .simplePopup {
        padding: 15px;
    }
}

.simplePopupBackground {
    display: none;
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
}

.simplePopup {
    background: #EEEEEE;
    color: #246088;
    padding-bottom: 40px;
}

@media (max-width: 767px) {
    .simplePopup {
        padding-bottom: 10px;
    }
}

.simplePopup h2 {
    font-size: 30px;
    color: lightgray;
    font-weight: normal;
}

@media (max-width: 767px) {
    .simplePopup h2 {
        margin: 10px 0px;
        font-size: 19px;
    }
}

.closeBetaWrapp .iconCont img {
    width: 200px;
}

@media (max-width: 479px) {
    .closeBetaWrapp .iconCont img {
        width: 63%;
    }
}

.simplePopup h2 span {
    font-size: 14px;
    font-style: italic;
}

.simplePopup .formrow label {
    font-size: 18px;
    color: #246088;
    display: block;
    margin-bottom: 5px;
    width: 80%;
}

.simplePopup .formrow .formField {
    background: #ffffff;
    border: 1px solid #246088;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    padding: 15px 10px;
    font-size: 16px;
    color: #246088;
    outline: none;
    width: 100%;
}

.simplePopup .formrow .leftCol, .simplePopup .formrow .closeBetaWrapp .rightCol, .closeBetaWrapp .simplePopup .formrow .rightCol {
    width: 48%;
    float: left;
}

@media (max-width: 767px) {
    .simplePopup .formrow .leftCol, .simplePopup .formrow .closeBetaWrapp .rightCol, .closeBetaWrapp .simplePopup .formrow .rightCol {
        width: 100%;
        margin-bottom: 15px;
    }
}

.simplePopup .formrow .rightCol {
    width: 48%;
    float: right;
}

@media (max-width: 767px) {
    .simplePopup .formrow .rightCol {
        width: 100%;
    }
}

.simplePopup .formrow .forgotLink, .simplePopup .formrow .signupLink {
    margin: 22px 0px;
    text-align: right;
    font-size: 16px;
}

    .simplePopup .formrow .forgotLink a, .simplePopup .formrow .signupLink a {
        font-weight: bold;
        color: #246088;
    }

@media (max-width: 767px) {
    .simplePopup .formrow .forgotLink, .simplePopup .formrow .signupLink {
        text-align: center;
    }
}

.simplePopup .formrow .signupLink {
    text-align: left;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .simplePopup .formrow .signupLink {
        text-align: center;
        margin-top: 0px;
    }
}

.simplePopup .formrow .moreBtn {
    border: 1px solid #19BAB5;
    min-width: 120px;
    line-height: 38px;
    -webkit-appearance: none;
}

    .simplePopup .formrow .moreBtn:hover {
        border: 1px solid #fa4d6c;
    }

@media (max-width: 767px) {
    .simplePopup .formrow .moreBtn {
        text-align: center;
        display: inline-block;
        float: none;
        font-size: 16px;
    }
}

.simplePopup .formrow .cnclBtn {
    background: none;
    border: 1px solid #246088;
    color: #246088;
}

.popupWrapp .formrow {
    margin-bottom: 28px;
}

    .popupWrapp .formrow .dd-container {
        width: 32% !important;
        margin: 0px 2% 0 0 !important;
        float: left;
    }

        .popupWrapp .formrow .dd-container:last-child {
            float: right;
            margin: 0px !important;
        }

@media (max-width: 479px) {
    .popupWrapp .formrow .dd-container {
        width: 100% !important;
        margin: 0px 0 10px 0 !important;
    }
}

.popupWrapp .formrow .dd-selected {
    padding: 15px 10px !important;
}

    .popupWrapp .formrow .dd-selected label {
        color: #ffffff !important;
        font-size: 16px !important;
        margin: 0px !important;
        cursor: pointer;
    }

.popupWrapp .formrow .dd-select {
    background: #246088 !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 51px;
}

    .popupWrapp .formrow .dd-select .dd-pointer {
        margin-top: -13px;
    }

        .popupWrapp .formrow .dd-select .dd-pointer:after {
            font-size: 28px;
            color: #ffffff;
        }

.popupWrapp .formrow .dd-option {
    background: #246088;
    border: 0;
}

    .popupWrapp .formrow .dd-option label {
        color: #ffffff;
        font-size: 16px !important;
        cursor: pointer;
    }

    .popupWrapp .formrow .dd-option:hover {
        background: none;
        color: #ffffff;
    }

.popupWrapp .formrow .dd-options {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 248px;
    margin-top: -1px !important;
}

@media (max-width: 767px) {
    .devEdit .popupWrapp .formrow .rightCol {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .devEdit .popupWrapp .formrow {
        margin-bottom: 10px;
    }
}

.devEdit .popupWrapp .deactive {
    padding-top: 10px;
}

    .devEdit .popupWrapp .deactive a {
        color: #246088;
        font-weight: bold;
    }

@media (max-width: 767px) {
    .devEdit .popupWrapp .deactive {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .devEdit .popupWrapp {
        padding-top: 10px;
    }
}

.popupWrapp .formrow {
    margin-bottom: 15px !important;
}

.simplePopup {
    background: #EEEEEE;
    color: #246088;
    padding-bottom: 40px;
}

.editPopup {
    padding: 0px;
    position: fixed !important;
    top: 10%;
    left: 20%;
}

    .editPopup .leftCol {
        float: left;
        width: 48%;
    }

    .editPopup .rightCol {
        float: right;
        width: 48%;
    }

    .editPopup .headingWrapp {
        clear: both;
        float: left;
        width: 100%;
        padding: 20px 30px 20px;
        background: #5f8dab;
        color: white;
        height: 53px;
    }

    .editPopup .appThumb {
        width: auto;
        height: auto;
        float: left;
        overflow: hidden;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 13px;
        padding: 15px;
        border: 1px solid #e0e0e0;
        font-weight: 700;
        background: #4e758e;
        color: lightgray;
        font-size: small;
    }

        .editPopup .appThumb img {
            width: 100%;
        }

    .editPopup h2, .editPopup h3 {
        float: left;
        padding: 12px 30px 0px;
        margin: 0;
        font-size: 25px;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 700;
        padding: 5px;
        text-shadow: 1px 2px 6px #000;
        padding-left: 15px;
    }

    .editPopup .formrow {
        padding: 1px 30px;
        overflow: hidden;
    }

        .editPopup .formrow.dlRow .leftCol {
            width: 100%;
        }

        .editPopup .formrow a {
            text-decoration: none;
        }

    .editPopup .currentPass {
        margin-top: 15px;
        background: #246088;
        padding: 15px 0px 1px;
    }

        .editPopup .currentPass .formrow {
            margin: 0;
            padding: 0 30px;
        }

            .editPopup .currentPass .formrow .leftCol {
                width: 100%;
            }

                .editPopup .currentPass .formrow .leftCol label {
                    color: #ffffff;
                    margin-bottom: 10px;
                }

                .editPopup .currentPass .formrow .leftCol .formField {
                    background: transparent;
                    color: #ffffff;
                    border: 1px solid #ffffff;
                    margin-bottom: 20px;
                    outline: none;
                    width: 100%;
                    padding: 15px 10px;
                    font-size: 16px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    -webkit-appearance: none;
                }

                    .editPopup .currentPass .formrow .leftCol .formField::-webkit-input-placeholder {
                        color: #ffffff;
                    }

                    .editPopup .currentPass .formrow .leftCol .formField:-moz-placeholder {
                        color: #ffffff;
                    }

                    .editPopup .currentPass .formrow .leftCol .formField::-moz-placeholder {
                        color: #ffffff;
                    }

                    .editPopup .currentPass .formrow .leftCol .formField:-ms-input-placeholder {
                        color: #ffffff;
                    }

            .editPopup .currentPass .formrow .cnclBtn {
                border: 1px solid #ffffff !important;
                color: #ffffff;
                background: none !important;
                float: right;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                cursor: pointer;
            }

            .editPopup .currentPass .formrow .moreBtn {
                border: 1px solid #19BAB5;
                min-width: 120px;
                line-height: 38px;
                -webkit-appearance: none;
                float: right;
                background: #19BAB5;
                color: #ffffff;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                cursor: pointer;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                margin-left: 10px;
            }

                .editPopup .currentPass .formrow .moreBtn:hover {
                    background: #fa4d6c;
                }

            .editPopup .currentPass .formrow .deactive {
                float: left;
                width: auto;
                padding-top: 8px;
            }

                .editPopup .currentPass .formrow .deactive a {
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 16px;
                }

        .editPopup .currentPass label {
            font-size: 18px;
            color: #246088;
            display: block;
            margin-bottom: 5px;
        }

.headerBtndiv {
    float: left;
}

@media (max-width: 767px) {
    .headerBtndiv {
        display: none;
    }
}

@media (max-width: 767px) {
    .headerBtndiv {
        display: none;
    }
}

@media (max-width: 1140px) {
    .headerBtndiv {
        display: none;
    }
}

@media (max-width: 1200px) {
    .headerBtndiv {
        width: 34%;
    }
}

.headerBtn {
    padding: 18px;
    text-decoration: none !important;
    color: #00324a;
    font-size: 12px;
    float: left;
    position: relative;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

    .headerBtn:hover {
        color: #da1e41;
    }

a#previousInvoice:hover i {
    margin-left: -8px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

a#nextInvoice:hover i {
    margin-left: 8px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

@media (max-width: 767px) {
    .footerTotalSection .rightTextSection input[type=radio], .footerTotalSection .rightTextSection input[type=checkbox] {
        margin: -2px 0 0 !important;
        margin-top: 1px \9;
        line-height: normal;
        font-size: smaller !important;
    }

    .footerTotalSection .rightTextSection label {
        font-size: smaller !important;
    }

    .footerTotalTextSection .leftTextSection span {
        float: left;
        color: white;
        padding-bottom: 9.5px;
        width: 100% !important;
        font-size: smaller;
        padding-top: 4px;
    }

    .footerTotalTextSection .textSection .leftTextSection {
        width: 57%;
        float: left;
    }

    .allItemsView .itemsFooter {
        padding: 1px;
        height: 25.4px;
    }

    input[type=radio], input[type=checkbox] {
        margin: 4px -1px 0 0 !important;
        margin-top: 1px \9;
        line-height: normal;
    }

    .allItemsView .itemRow span {
        font-size: 9px;
    }
}

@media (max-width: 1023px) {



    .itemMeta .selectDivFirst {
        margin-top: 3px;
    }
}

.itemMeta .clearfix {
    font-size: 10px !important;
}

@media (max-width: 900px) {
    .footerTotalTextSection .itemMeta {
        font-size: 10px !important;
    }
}

.itemPartyName {
    color: #ececec;
    font-size: 12px;
    border: 1px solid;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: 3px;
    right: 35px;
}

.editPopup .appThumb {
    float: left;
    color: #ececec;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    padding: 15px;
    border-radius: 4px;
    background: transparent;
    position: absolute;
    top: 3px;
    left: 10px;
    border: none;
}

.labelValue {
    color: #039cff;
}

.highValue {
    color: #d70026 !important;
}

.lowValue {
    color: #01a59f !important;
}

.adjustBalanceBtn {
    background: #d70026;
    padding: 12px 0;
    display: block;
    color: white;
    font-weight: 600;
    font-size: smaller;
    border: 1px solid #d70026;
    float: left;
    width: 21%;
    border-radius: 5px;
}

    .adjustBalanceBtn:hover {
        background: #fa4d6c;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

#clientBalance {
    float: left;
    margin-right: 4px;
}

.popupPartyCode {
    float: right;
    color: #ececec;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid;
    padding: 15px;
    border-radius: 4px;
}

.popupPartyName {
    float: left;
    color: #ececec;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid;
    padding: 15px;
    border-radius: 4px;
    background: linear-gradient(141deg, #ccd2d1 0%, #1fc8db 51%, #5bafce 75%);
}

#adjustPopUpForm {
    left: 332.5px;
    width: 53%;
}

    #adjustPopUpForm .formrow {
        padding: 3% 24%;
        overflow: hidden;
    }

        #adjustPopUpForm .formrow input[type=text] {
            border-radius: 4px;
            border: 1px solid;
            padding: 11px;
            width: 100%;
        }

        #adjustPopUpForm .formrow label {
            font-size: 15px;
            color: #246088;
            display: block;
            margin-bottom: 5px;
            width: 59%;
            float: left;
            margin-left: 13px;
        }

        #adjustPopUpForm .formrow span {
            font-size: 15px;
            color: #246088;
            display: block;
            font-weight: 700;
        }

        #adjustPopUpForm .formrow input[type=checkbox] {
            float: left;
        }

.clearable {
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}

    .clearable.x {
        background-position: right 5px center !important;
    }
    /* (jQ) Show icon */
    .clearable.onX {
        cursor: pointer;
    }
    /* (jQ) hover cursor style */
    .clearable::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

input#PartySearchBox {
    background:  url(../images/clearBtn.png) no-repeat right -10px center;
    padding-right: 22px !important;
}

.badge-bm {
    font-size: 17px !important;
    margin-bottom: 5px;
    margin-left: 2px;
    background-color: #5f8dab;
}

td {
    text-align: center;
    border: 0.3px solid #eeeeee !important;
    vertical-align: middle;
}

    td.actionBtn {
        padding: 6px;
    }

.actionBtns i {
    font-size: 14px;
    margin-left: 15px;
}

tr.ui-menu-item.zeroQty {
    background: #cc7676 !important;
    color: white !important;
}

    tr.ui-menu-item.zeroQty:hover {
        background: #f1a0a0 !important;
        color: white !important;
    }

    tr.ui-menu-item.zeroQty.ui-state-focus {
        background: #f1a0a0 !important;
        color: white !important;
    }

td.itemDescriptiontd, td.itemCodetd {
    text-align: center !important;
}

th {
    text-align: center !important;
    /*border:0.5px solid !important;*/
}

#ui-id-2 td {
    text-align: center !important;
    border: 0.5px solid !important;
}

.dayCashAndCreditSale.searchAppSection .searchWrapper div {
    width: 36%;
    display: inline-block;
}

.dayCashAndCreditSale.searchAppSection .searchWrapper span {
    display: inline-block;
    background: #4e758e;
    color: white;
    padding: 9px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 25%;
}

.dayCashAndCreditSale.searchAppSection .searchWrapper input {
    display: inline-block;
    width: 70%;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

a:hover {
    text-decoration: none;
}

.reports.allItemsView .itemRow .descriptionData {
    width: 15% !important;
}

.reports.allItemsView .itemsHeader .description {
    width: 15%;
}

.reports.allItemsView .itemRow .codeData {
    width: 6.7% !important;
}

.reports.allItemsView .descriptionData input {
    text-align: right;
}

.name input {
    text-align: left !important;
}

.DaySaleGroup2.reports.allItemsView .itemsHeader .description {
    width: 9.6%;
}

.DaySaleGroup2.reports.allItemsView .itemRow .descriptionData {
    width: 9.6% !important;
}

.ItemAndPrtywiseSale input#PartySearchBox {
    background: white;
}

.ItemAndPrtywiseSale.searchAppSection .searchWrapper div {
    width: 28.5%;
    display: inline-block;
}

.BrandAndPrtywiseSale.searchAppSection .searchWrapper div {
    width: 20.5%;
    display: inline-block;
}

.printBtn {
    background: #d70026 !important;
    width: 60px !important;
    float: right !important;
    border: none !important;
    outline: none !important;
    color: #ffffff !important;
    padding: 5px 10px !important;
    text-align: left !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    cursor: pointer !important;
    position: relative !important;
    min-width: 0 !important;
    margin: 0 5px !important;
    line-height: 26px !important;
}

.reports.allItemsView .descriptionData input {
    width: 90% !important;
    border: none;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #4E758E;
    font-weight: 700;
    padding: 0px 5px;
    background: whitesmoke;
}

.reports.allItemsView .descriptionData input, .reports.allItemsView .discountData input, .reports.allItemsView .QtyData input, .reports.allItemsView .ItemDData input, .reports.allItemsView .dealData input, .reports.allItemsView .RateData input, .reports.allItemsView .NAmountData input, .reports.allItemsView .PAmountData input, .reports.allItemsView .GAmountData input {
    width: 90% !important;
    border: none;
    border-left: 1px solid;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #4E758E;
    font-weight: 700;
    text-align: right;
    padding: 0px 5px;
    background: whitesmoke;
}

.reports.allItemsView .descriptionData:last-child input {
    border-right: 1px solid;
    -ms-border-radius: 0;
    border-radius: 0;
}

.reports .dd-container, .dd-selected, .dd-select {
    height: 35px !important;
}

.reports .ManSelectDiv .dd-options {
    top: 35px;
    border-color: #8da5b5 !important;
}

.reports #salesManDD {
    float: none !important;
    width: 100% !important;
}

.reports .dd-select.selectDiv.ManSelectDiv {
    background: rgb(78, 117, 142) ;
}

.reports .dd-pointer {
    width: 0 !important;
    border-radius: 0 !important;
}

/*.reports .dd-option {
        height: 35px !important;
        padding: 8px !important;
    }*/

.reports .dd-selected {
    text-decoration: none !important;
    padding: 5px !important;
}

.ui-autocomplete table {
    width: 100%;
}

.brandWiseGroupByPartySaleSummary.searchAppSection .searchWrapper div {
    width: 26%;
    display: inline-block;
}

.allBrandSaleSummary.searchAppSection .searchWrapper div {
    width: 36.5%;
    display: inline-block;
}

.allBrandSaleSummary.searchAppSection .contentContainer {
    max-width: 64%;
}

.BrandAndAllPrtywiseSale.reports.allItemsView .itemRow .descriptionData {
    width: 18.6% !important;
}

.BrandAndAllPrtywiseSale.reports.allItemsView .itemsHeader .description {
    width: 18.6%;
}

.leftRightButtons {
    width: 50%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}

    .leftRightButtons a {
        width: 50px;
        height: 50px;
    }

        .leftRightButtons a:hover {
            background: #fa4d6c !important;
            cursor: pointer;
        }

.sale .leftRightButtons a, .sale .leftRightButtons input[type=submit] {
    background: #d70026;
    width: 47%;
    height: 91%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
    padding: 3px;
}

.sale .leftRightButtons input[type=submit] {
    background-image: url('../images/print-icon-white-150x150.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50%;
}

.sale .leftRightButtons a:hover {
    background: #fa4d6c !important;
    cursor: pointer;
}

.sale .leftRightButtons input[type=submit]:hover {
    background-image: url('../images/print-icon-white-150x150.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50%;
    background-color: #fa4d6c !important;
    cursor: pointer;
}

.sale.itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 1px 0 !important;
}

@media (max-width: 767px) {
    .sale.itemMeta i {
        font-size: 10px !important;
        padding: 7px 0 0px 0px;
    }

    .AddItem .form-control-labal, .EditItem .form-control-labal {
        height: 29px;
        padding: 3px 5px;
    }
}

.sale a#previousInvoice:hover i {
    margin-left: 0px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.sale a#nextInvoice:hover i {
    margin-left: 0px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.dd-container, .dd-selected, .dd-select {
    height: 27px !important;
}

#Menu1 ul {
    z-index: 99999;
}

.autocompleteTable::-webkit-scrollbar {
    width: 1em !important;
}

.autocompleteTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px !important;
}

.autocompleteTable::-webkit-scrollbar-thumb {
    background-color: #d70026 !important;
    border-radius: 10px !important;
}

/*.autocompleteTable thead tr, #partyHeadTable thead tr, #itemHeadTable thead tr {
    height: 35px;
}*/

#itemTable {
    overflow-x: hidden;
}

.width1 {
    width: 5%;
}

.width2 {
    width: 10%;
}

.width3 {
    width: 15%;
}

.width4 {
    width: 20%;
}

.width5 {
    width: 25%;
}

.width6 {
    width: 30%;
}

.width7 {
    width: 35%;
}

.width8 {
    width: 40%;
}

.width9 {
    width: 45%;
}

.width10 {
    width: 50%;
}

#AluminiumSaldChart rect, #SalePurchaseAndReturnChart rect {
    fill: transparent;
}

#AluminiumSaldChart path, #SalePurchaseAndReturnChart path {
    stroke-opacity: .7;
}

#banner h3 {
    color: #e8e8e8;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

    #banner h3 span {
        font-weight: 100;
        width: 100%;
        display: block;
    }

/*input#SearchBox {
    width: 85% !important;
    float: left;
}*/

a.adjustBalanceBtn.AddItemsBtn {
    width: 15%;
    float: right;
    padding: 3px 0;
    height: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sale a.adjustBalanceBtn.AddItemsBtn {
    padding: 2px 0;
}

.simplePopup {
    top: 10px !important;
    z-index: 9999999;
}

    .simplePopup .container {
        width: 100%;
    }

    .simplePopup input, .simplePopup select {
        height: 35px;
    }

    .simplePopup input {
        padding: 6px 5px 5px 125px;
    }

    .simplePopup .headingWrapp {
        margin-bottom: 20px;
        padding: 0px 0 7px;
    }

    .simplePopup .form-group {
        margin-bottom: 10px;
    }

.simplePopup {
    top: 10px !important;
    z-index: 9999999;
}
/*#editItemPopUpForm .container{
    width:100%
}
#editItemPopUpForm input,#editItemPopUpForm select{
    height:35px
}
#editItemPopUpForm input{
   padding: 6px 5px 5px 125px;
}
#editItemPopUpForm .headingWrapp {
    
    padding: 0px 0 7px;
}
#editItemPopUpForm .form-group {
    margin-bottom: 10px;
}*/
#BrandNameDD .dd-options {
    max-height: 157px;
}

.sweet-alert {
    z-index: 99999999999999999999 !important;
}

.sweet-overlay {
    z-index: 99999999999999999999 !important;
}

.footerTable table {
    color: #46b288;
    font-weight: 600;
    width: 100%;
}

.footerTable th, .footerTable td {
    width: 33.33%;
}

.footerTable tr {
    height: 19.5px;
}

.footerTable .tbody {
    height: 161px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .footerTable .tbody table {
        font-size: 13px;
    }

        .footerTable .tbody table tr:nth-child(even) {
            background: #f1f1f1;
        }

        .footerTable .tbody table tr:nth-child(odd) {
            background: #d6d6d6;
        }

.footerTable .thead table {
    width: 100%;
    width: -webkit-calc(100% - 11px);
    width: -moz-calc(100% - 11px);
    width: calc(100% - 11px);
}

.tbody::-webkit-scrollbar {
    width: 1em !important;
}

.tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px !important;
}

.tbody::-webkit-scrollbar-thumb {
    background-color: #d70026 !important;
    border-radius: 10px !important;
}

.reports.allItemsView .itemsSection .itemRow:hover input {
    background: #D4D7D9;
}

.leftAlign {
    text-align: left !important;
}

.rightAlign {
    text-align: right !important;
}

.centerAlign {
    text-align: center !important;
}


a.headerBtn i {
    font-size: 15px;
    position: absolute;
    left: -1px;
    top: 18px;
    color: #00324a;
}

.simplePopupClose {
    position: absolute;
    right: 7px;
    top: 3px;
}

.restrictedHeight ul {
    height: 102px;
}

/*thead tr {
    height: 35px;
}*/

.AddItem .dd-container, #AddItem .dd-selected, .dd-select, .EditItem .dd-container, #EditItem .dd-selected, .dd-select {
    height: 30px !important;
}

.AddItem .form-control-labal, .EditItem .form-control-labal {
    height: 29px;
    padding: 2px 5px;
}

.AddItem .form-control, .EditItem .form-control {
    height: 29px;
}

.AddItem .form-group .signupBtn, .EditItem .form-group .signupBtn {
    padding: 7px;
    background: #d70026;
}

@media (max-width: 767px) {

    .AddItem .form-control-labal, .EditItem .form-control-labal {
        height: 29px;
        padding: 4px 5px;
        font-size: 11px;
    }

    .form-control-labal {
        width: 100px;
    }

    .allItemsView .itemsSection {
        height: 242px !important;
    }

    .table-wrapper {
        width: 1100px;
    }
}

.itemMeta .dd-selected {
    text-decoration: none !important;
    padding: 13px !important;
}

.itemMeta a.dd-option {
    color: white;
    font-size: 11px;
    text-decoration: none !important;
    padding: 13px !important;
}

@media (min-width: 992px) {

    .zeroRightPadding {
        padding-right: 0px;
    }

    .zeroLeftPadding {
        padding-left: 0px;
    }
}

@media (max-width: 1200px) {
    .allItemsView .itemsHeader a {
        font-size: 11px;
    }

    body {
        font-size: 11px;
    }

    .footerTotalTextSection .itemMeta {
        font-size: 11px;
    }

    .BMSearchWrapper span.userlLabel {
        padding: 9px 0 9px 10px !important;
    }
}

#addAttribute {
    top: 15% !important;
}

.simplePopup .BMtable {
    height: 299px;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.popupAddBtnDiv {
    float: right;
}

#addAttribute .itemRow .deleteRowData {
    position: absolute;
    right: 40px;
    width: 2%;
    margin: 0;
}

#addAttribute .allItemsView .itemRow .rowRecord {
    position: absolute;
    right: 10px;
}

.defaultAttribute {
    position: absolute;
    right: 70px;
    width: 2%;
    margin: 0;
}

    .defaultAttribute a {
        font-size: 18px;
        color: #c8c8c8;
    }

        .defaultAttribute a:hover {
            color: #4e758e;
        }

    .defaultAttribute.active a {
        color: #4e758e;
    }

.voucherLessInputs {
    margin-bottom: 30px;
}

.BMSearchWrapper {
    background: #f4f4f4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 0;
}

    .BMSearchWrapper span.userlLabel {
        color: white;
        background: rgb(78, 117, 142);
        position: absolute;
        width: 120px;
        padding: 7px 0 7px 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        overflow: hidden;
        height: 30px;
        font-size: 14px;
    }

@media (max-width: 767px) {


    .BMSearchWrapper span.userlLabel {
        width: 90px;
    }
}

.btn btn-bm, .redBtn {
    padding: 6px;
    font-weight: 700;
    width: 100% !important;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn btn-bm {
    background: rgba(50, 146, 98, 0);
    border: 1px solid #46b288;
    color: #46b288;
}

.redBtn {
    background: rgba(50, 146, 98, 0);
    border: 1px solid #4e758e;
    color: #4e758e;
}

.btn .btn-bm:hover {
    background: #46b288;
    color: white;
}

.redBtn:hover {
    background: #4e758e;
    color: white;
}


.dd-select {
    background: rgb(78, 117, 142) ;
}

.BMSearchWrapper div label {
    float: left;
    width: 100%;
}

    .BMSearchWrapper div label input[type=checkbox] {
        float: left;
        width: 40px;
        margin: 0;
    }

    .BMSearchWrapper div label span {
        float: left;
    }

#itemPopupConent {
    top: 10% !important;
}

text {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    fill: #e8e8e3;
}

#salesManDD .dd-pointer {
    top: 11px !important;
}

[id*=DepartmentDD_] .dd-pointer {
    top: 0px !important;
}

td.name {
    text-align: left !important;
}

.title.AddItems {
    text-align: center;
    background: #dce1e4;
    color: #00324a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px;
    margin-bottom: 5px;
    border-bottom: 2px solid;
    box-shadow: 3px 2px 6px #888888ab;
}

.AddItems h2, .AddItems .h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
}

.display-flex {
    display: flex;
}

.btn-outline-danger {
    color: #dc3545 !important;
}

    .btn-outline-danger:hover {
        color: #fff !important;
    }
.color-white{
    color:white !important;
}