#customize-menu .customize .customize-item .customize-colors li .color-item.color-darkpink {
  background-color: #BD6378 !important;
  border-color: #BD6378 !important;
}

/* Handle */
.main_color {
  color: #BD6378 !important;
}
.main_color:after,
.main_color span:after,
.main_color span, .main_color:before,
.main_color span:before {
  color: #BD6378 !important;
}

.main_color_light_shade {
  color: #cf8596 !important;
}
.main_color_light_shade:after,
.main_color_light_shade span:after,
.main_color_light_shade span, .main_color_light_shade:before,
.main_color_light_shade span:before {
  color: #cf8596 !important;
}

.main_color_dark_shade {
  color: #b50323 !important;
}
.main_color_dark_shade:after,
.main_color_dark_shade span:after,
.main_color_dark_shade span, .main_color_dark_shade:before,
.main_color_dark_shade span:before {
  color: #b50323 !important;
}

.main_color_vlight_shade {
  color: #dd9aaa !important;
}
.main_color_vlight_shade:after,
.main_color_vlight_shade span:after,
.main_color_vlight_shade span, .main_color_vlight_shade:before,
.main_color_vlight_shade span:before {
  color: #dd9aaa !important;
}

.main_background_color {
  background-color: #BD6378 !important;
}
.main_background_color:after,
.main_background_color span:after,
.main_background_color span, .main_background_color:before,
.main_background_color span:before {
  background-color: #BD6378 !important;
}

#ref .color-primary {
  color: #BD6378;
}
#ref .chart .color-primary {
  color: #BD6378;
}
#ref .chart .color-secondary {
  color: #cf8596;
}

::-moz-selection {
  background: #BD6378;
  color: white;
}

::selection {
  background: #BD6378;
  color: white;
}

.auth-container .auth-header {
  text-align: center;
  border-bottom: 1px solid #BD6378;
}

.alert.alert-primary {
  color: white;
  background-color: #BD6378;
  border-color: #BD6378;
}
.alert.alert-primary hr {
  border-top-color: #BD6378;
}

tfoot tr,
thead tr {
  background: #BD6378;
  border-bottom: 2px solid #BD6378;
}

.userDetails {
  color: #BD6378;
}

.popover-header {
  color: white;
  background-color: #BD6378;
}

span.commentaryNumber,
span.questionNumber {
  background: #BD6378;
}

.page-name {
  color: #BD6378;
  font-family: roboto !important;
  font-weight: 900 !important;
}

.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-top-color: #BD6378;
  border-bottom-color: transparent;
  opacity: 1;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:focus {
  opacity: 1;
  background-color: white;
  border-color: #d7dde4 transparent;
  border-top-color: #BD6378;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:hover {
  opacity: 1;
  background-color: white;
  border-color: #d7dde4 transparent;
  border-top-color: #BD6378;
}

.card.card-primary {
  border-color: #BD6378;
}
.card.card-primary > .card-header {
  background-color: #BD6378;
  border-color: #BD6378;
}

.btn.btn-primary {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.btn.btn-primary:hover {
  color: white;
  background-color: #cf8596;
  border-color: #b50323;
}
.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}
.btn.btn-primary:disabled {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.btn.btn-primary:not(:disabled):not(.disabled).active {
  color: white;
  background-color: #BD6378;
  border-color: #b50323;
}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: #BD6378;
  border-color: #b50323;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}

.btn.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}

.btn.btn-primary.disabled {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}

.show > .btn.btn-primary.dropdown-toggle {
  color: white;
  background-color: #BD6378;
  border-color: #b50323;
}
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}
.show > .btn.btn-primary-outline.dropdown-toggle {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.show > .btn.btn-primary-outline.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}

.btn.btn-primary-outline {
  color: #BD6378;
  background-color: transparent;
  background-image: none;
  border-color: #BD6378;
}
.btn.btn-primary-outline:hover {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.btn.btn-primary-outline:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}
.btn.btn-primary-outline:disabled {
  color: #BD6378;
  background-color: transparent;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #BD6378;
  border-color: #BD6378;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}

.btn.btn-primary-outline.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #dd9aaa;
  box-shadow: 0 0 0 0.2rem #dd9aaa;
}

.btn.btn-primary-outline.disabled {
  color: #BD6378;
  background-color: transparent;
}

.dropdown-menu .dropdown-item:hover {
  color: #BD6378 !important;
  background: none;
  background-color: whitesmoke;
}

.input-group span.input-group-addon.focus {
  background-color: #BD6378;
  color: white;
}

.form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #BD6378;
}

.has-error .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #BD6378;
}

.has-success .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #BD6378;
}

.has-warning .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #BD6378;
}

.form-control.boxed:focus {
  border: 1px solid white;
}

.checkbox:checked + span:before {
  color: #BD6378;
}

.radio:checked + span:before {
  color: #BD6378;
}

.footerTotalTextSection .checkbox:checked + span:before {
  color: white;
}
.footerTotalTextSection .radio:checked + span:before {
  color: white;
}

.images-container .image-container.active {
  border-color: #BD6378;
}
.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #BD6378 solid;
  color: #BD6378;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
  color: #BD6378;
}

.logo .l {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #BD6378;
  position: absolute;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active {
  color: #BD6378;
  border-bottom: 2px solid #BD6378;
}
.modal-body.modal-tab-container .modal-tabs .nav-link:hover {
  color: #BD6378;
  border-bottom: 2px solid #BD6378;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: #cf8596;
}

.nav.nav-tabs-bordered {
  border-color: #BD6378;
}
.nav.nav-tabs-bordered + .tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #BD6378;
  padding: 10px 20px 0;
}
.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  color: white;
  background-color: #BD6378;
  border: 1px solid #BD6378;
}
.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-color: #BD6378;
  border-bottom-color: transparent;
}

.nav.nav-pills .nav-item .nav-link.active {
  border-color: #BD6378;
  border-bottom-color: transparent;
  background-color: #BD6378;
}
.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: #BD6378;
  color: white;
}

.nav > li > a {
  color: #283959 !important;
}

.disciplineActionBtns .custom-btn {
  background: #BD6378 !important;
}

.pagination .page-item .page-link {
  color: #BD6378;
}
.pagination .page-item.active .page-link {
  color: white;
  border-color: #BD6378;
  background-color: #BD6378;
}
.pagination .page-item.active .page-link:focus {
  color: white;
  border-color: #BD6378;
  background-color: #BD6378;
}
.pagination .page-item.active .page-link:hover {
  color: white;
  border-color: #BD6378;
  background-color: #BD6378;
}

#nprogress .bar {
  background: #BD6378 !important;
}
#nprogress .bar .peg {
  -webkit-box-shadow: 0 0 10px #BD6378, 0 0 5px #BD6378;
  box-shadow: 0 0 10px #BD6378, 0 0 5px #BD6378;
}
#nprogress .spinner .spinner-icon {
  border-top-color: #BD6378 !important;
  border-left-color: #BD6378 !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #BD6378;
}
*::-webkit-scrollbar-thumb *:window-inactive {
  background: #BD6378;
}

.attributesRow:nth-child(even) {
  background: #f5e5e8;
}

.allAttributesView .attributesHeader {
  background: #BD6378;
}

.attribute-type-title {
  background: #BD6378;
}

.sidebar-toggle-btn {
  background: #BD6378;
}

#powerTip {
  background-color: #b50323 !important;
}

.page-header {
  color: #BD6378;
  border-bottom: 1px solid #BD6378;
}

.header {
  border-bottom: 1px solid #BD6378 !important;
}
.header .custom-button {
  color: #BD6378 !important;
}

.addQuestionToWord {
  background: #BD6378;
  background: #BD6378;
}

.btn-3c:before {
  color: #BD6378;
}

.btn-3c:active {
  box-shadow: 0 3px #b50323 !important;
}

.btn-3:active {
  background: #b50323 !important;
}

.btn-3c:active:before {
  color: #b50323 !important;
}

.form-control:focus {
  border-color: #cf8596;
  box-shadow: 0 0 0 0.2rem #cf8596;
}

.btn-3c {
  box-shadow: 0 3px #cf8596;
}

.navigation-confirmation-box {
  background: #BD6378;
}

#powerTip.n:before {
  border-top-color: #b50323 !important;
}

#powerTip.ne:before {
  border-top-color: #b50323 !important;
}

#powerTip.nw:before {
  border-top-color: #b50323 !important;
}

#powerTip.nw-alt:before {
  border-top-color: #b50323 !important;
}

#powerTip.ne-alt:before {
  border-top-color: #b50323 !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #BD6378 !important;
  border-left-color: #BD6378 !important;
  border-right-color: #BD6378 !important;
}
.swal2-popup .swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #BD6378 !important;
}

.item-img i {
  color: #b50323 !important;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #BD6378;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.text-primary {
  color: #BD6378;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomin {
  background-color: #BD6378;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #BD6378;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page .stats .stat-progress {
  height: 2px;
  margin: 5px 0;
  color: #BD6378;
  background-color: #d7dde4 transparent;
}
.dashboard-page .stats .stat-progress .progress-bar {
  background-color: #BD6378;
}

header {
  background-color: white;
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .header-block-collapse .collapse-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #BD6378;
  font-size: 24px;
  line-height: 40px;
  border-radius: 0;
  outline: none;
  padding: 0 10px;
  vertical-align: initial;
}
header .header-block-nav > ul > li > a:hover {
  color: #BD6378;
}
header .header-block-nav .notifications.new .counter {
  color: #BD6378;
  font-weight: bold;
}
header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: #BD6378;
}
header .header-block-nav .profile .arrow {
  color: #BD6378;
}
header .header-block-nav .profile-dropdown-menu a .icon {
  color: #BD6378;
  text-align: center;
  width: 18px;
  font-size: 17px;
  margin-right: 5px;
}

.modal .modal-header {
  background-color: #BD6378;
  color: white;
}

.disciplineActionBtns > a {
  display: inline-block !important;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li.active > a {
  background-color: #BD6378 !important;
  color: white;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #BD6378 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}
.sidebar .sidebar-menu > li.open > a {
  background-color: #BD6378 !important;
  color: white;
}

.sidebar > .sidebar-menu > li.active > a > .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.btn-blue {
  color: white !important;
  background: #BD6378;
}

.detailPage .attributeActive > a {
  background: #BD6378;
  color: white !important;
}

#modal-media .images-container .image-container:hover {
  border-color: #cf8596;
}
#modal-media .images-container .image-container.active {
  border-color: #cf8596;
}
#modal-media .upload-container .dropzone {
  position: relative;
  border: 2px dashed #BD6378;
  height: 270px;
}
#modal-media .upload-container .dropzone .dz-message-block .dz-message {
  margin: 0;
  font-size: 24px;
  color: #BD6378;
  width: 230px;
}

#customize-menu .customize {
  width: 240px;
  color: white;
  background-color: #212529;
  text-align: center;
  padding: 10px 15px;
  border-top: 2px solid #BD6378;
}
#customize-menu .customize .customize-item .radio:checked + span:before {
  color: #BD6378;
}

.backToNavigationWord {
  background: #BD6378;
}

.ringring {
  border: 10px solid #BD6378;
}

.saleEdit [name=Invoice] {
  width: 40%;
  float: left;
}
.saleEdit .leftRightButtons {
  width: 27%;
  float: right;
  border: 0;
  padding: 0;
  margin: 0;
}
.saleEdit .leftRightButtons a {
  background: #cf8596;
  width: 45%;
  height: 91%;
  float: left;
  border: none;
  border-radius: 5px;
  margin-left: 3%;
  padding: 3px;
}

.itemMeta i {
  font-size: 16px !important;
  color: white !important;
  width: 100% !important;
  float: left !important;
  background: transparent !important;
  padding: 0 !important;
}
.itemMeta .selectDiv {
  background: #cf8596 !important;
}
.itemMeta div {
  border-radius: 2px !important;
}

.userlLabel {
  background: #cf8596 !important;
}

.searchAppSection {
  background: #BD6378 !important;
}

.footerTotalSection {
  background: #BD6378 !important;
}

.itemsFooter {
  background: #BD6378 !important;
}

.editSaleInvoice2Section .allItemsView .itemsHeader {
  background: #BD6378 !important;
}

input {
  color: white !important;
}

.itemsSection input {
  color: #BD6378 !important;
}

th {
  background: #cf8596 !important;
  color: white !important;
}

.ui-menu-item {
    color: #BD6378 !important;
    width: 100%;
    height: 40px;
    padding: 8px 10px 0 12px;
    border: 0 solid !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #cf8596 !important;
  border-radius: 10px !important;
}

.ui-state-focus {
  background-color: #dd9aaa !important;
  color: white !important;
  border: 0 !important;
  cursor: pointer;
}

.ui-state-active {
  background-color: #dd9aaa !important;
  color: white !important;
  border: 0 !important;
  cursor: pointer;
}

.ManSelectDiv .dd-options {
  top: 24px;
}

.dd-options {
  top: 26px;
}

.allItemsView .descriptionData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .discountData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .QtyData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .ItemDData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .dealData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .RateData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .NAmountData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .PAmountData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .GAmountData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}
.allItemsView .itemsHeader {
  background: #cf8596 !important;
}

.allItemsView .descriptionData input {
  border: 0.5px solid #cf8596;
  background: #f5f5f5;
}

.itemSellBtn {
  border: 1px solid #BD6378;
}

.loginBtn {
  border: 1px solid #BD6378;
}

.disableClick .fa.fa-chevron-circle-left {
  color: grey !important;
  margin-left: -35px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right {
  color: grey !important;
  margin-left: 35px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.leftRightButtons .disableClick {
  background: lightgrey !important;
}
.leftRightButtons .disableClick:hover {
  background: lightgrey !important;
}

.btn-bm {
  background: #cf8596;
  color: white !important;
  border: 1px solid #cfd7da;
}
.btn-bm:hover {
  background: #dd9aaa;
}

.partySection.sale .leftRightButtons a {
  background: #cf8596;
  border: 1px solid #dd9aaa;
}
.partySection.sale .leftRightButtons input[type=submit] {
  background: #cf8596;
  border: 1px solid #dd9aaa;
}
.partySection.sale .leftRightButtons a.disableClick {
  background: #bebebe !important;
}
.partySection.sale .leftRightButtons input[type=submit].disableClick {
  background: #bebebe !important;
}

.sale .leftRightButtons a:hover {
  background: #dd9aaa !important;
}

.dd-option {
  background: #dd9aaa !important;
}
.dd-option:hover {
  background: #cf8596 !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default {
  background: #cf8596 !important;
  box-shadow: #cf8596 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
  background: #cf8596 !important;
  box-shadow: #cf8596 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month {
  opacity: 0.5;
  background: #dd9aaa;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled {
  opacity: 0.5;
  background: #dd9aaa;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
  background: #cf8596 !important;
  border-color: #cf8596 !important;
  color: #333 !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: #BD6378;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #cf8596 !important;
  box-shadow: #cf8596 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
  opacity: 0.5;
  background: #dd9aaa;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}

.dd-select {
  background: #cf8596 !important;
}

.badge-bm {
  background-color: #cf8596;
}

.Ime-header {
  background: #cf8596;
}

#powerTip {
  background-color: #b50323 !important;
}
#powerTip:before {
  color: #b50323 !important;
}

@media (max-width: 767px) {
  .itemMeta i {
    font-size: 10px !important;
    padding: 7px 0 0;
  }
}
/* Hoshi */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100%);
  vertical-align: top;
}

.form .input .radio:checked + span:before {
  color: #BD6378;
}
.form .input .checkbox:checked + span:before {
  color: #BD6378;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 600;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: 600;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input--hoshi {
  overflow: hidden;
  height: 55px;
}
.input--hoshi .dd-container {
  position: absolute !important;
  width: 91% !important;
  top: 25px !important;
}

.input__field--hoshi {
  padding: 8px 0.15em;
  width: 100%;
  background: transparent;
  color: #595f6e;
}

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 0.5em);
  text-align: left;
  pointer-events: none;
}

.input__label-content--hoshi {
  position: absolute;
}

.input__label--hoshi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
  margin-top: 2px;
  border-bottom: 2px solid #BD6378;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input--hoshi--dropdown .input__label--hoshi::before {
  border: 0;
}
.input--hoshi--dropdown .input__label--hoshi::after {
  border: 0;
}
.input--hoshi--dropdown .input__label--hoshi .input__label-content--hoshi {
  left: 15px;
}

.input__label--hoshi-color-1::after {
  border-color: #00aaff;
}

/*.input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}*/
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
.itemMeta .input__label-content i {
  font-size: 12px !important;
  width: auto !important;
  display: inline-block !important;
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
.BMSearchWrapper .checkbox:checked + span:before,
.BMSearchWrapper .radio:checked + span:before,
.item-col .checkbox:checked + span:before,
.item-col .radio:checked + span:before {
  color: #BD6378 !important;
}

section.form .form-header {
  background: #BD6378;
}

select.input__field--hoshi {
  color: #BD6378;
}

li.item.item-data.selected .item-row {
  background-color: #cf8596 !important;
}

li .item-row:hover {
  background-color: #dd9aaa;
}

.main-color {
  color: #BD6378 !important;
}

.main-light-color {
  color: #cf8596 !important;
}

.main-vlight-color {
  color: #dd9aaa !important;
}

.main-dark-color {
  color: #b50323 !important;
}

.main-background {
  background: #BD6378 !important;
}

.main-light-background {
  background: #cf8596 !important;
}

.main-vlight-background {
  background: #dd9aaa !important;
}

.main-dark-background {
  background: #b50323 !important;
}

#generic_price_table {
  background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
  background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
  color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list tbody tr {
  color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list tbody tr {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list thead tr th {
  padding: 5px !important;
}

#generic_price_table .generic_content .generic_feature_list tbody tr:hover {
  background-color: #e4e4e4;
  border-left: 5px solid #BD6378;
}

#generic_price_table .generic_content .generic_feature_list tbody tr td:first-child {
  border-left: 5px solid rgba(255, 255, 255, 0);
}

#generic_price_table .generic_content .generic_feature_list tbody tr:hover td:first-child {
  border-left: 5px solid #BD6378;
}

#generic_price_table .generic_content .generic_price_btn a {
  border: 1px solid #BD6378;
  color: #BD6378;
}

#generic_price_table .generic_head_price .square-box {
  background: white;
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
  border-color: #BD6378 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #BD6378;
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
  background-color: #BD6378;
  color: #fff;
}

#generic_price_table {
  margin: 50px 0 50px 0;
  font-family: "Raleway", sans-serif;
}

.row .table {
  padding: 28px 0;
}

/*PRICE BODY CODE START*/
#generic_price_table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
  margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content {
  margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
  padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
  display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 15px 0;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li .fa {
  padding: 0 10px;
}

#generic_price_table .generic_content .generic_price_btn {
  margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  outline: medium none;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 767px) {
  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #generic_price_table .col-md-3 {
    float: left;
    width: 50%;
  }

  #generic_price_table .col-md-4 {
    float: left;
    width: 50%;
  }

  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
}
#generic_price_table_home {
  font-family: "Raleway", sans-serif;
}

.text-center h1,
.text-center h1 a {
  color: #7885cb;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.demo-pic {
  margin: 0 auto;
}

.demo-pic:hover {
  opacity: 0.7;
}

#generic_price_table_home ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
}

#generic_price_table_home li {
  float: left;
}

#generic_price_table_home li + li {
  margin-left: 10px;
  padding-bottom: 10px;
}

#generic_price_table_home li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0px;
}

#generic_price_table_home .blue {
  background: #3498db;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .emerald {
  background: #BD6378;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .grey {
  background: #7f8c8d;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .midnight {
  background: #34495e;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .orange {
  background: #e67e22;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .purple {
  background: #9b59b6;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .red {
  background: #e74c3c;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .turquoise {
  background: #1abc9c;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .divider {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

#generic_price_table_home .divider span {
  width: 100%;
  display: table;
  height: 2px;
  background: #ddd;
  margin: 50px auto;
  line-height: 2px;
}

#generic_price_table_home .itemname {
  text-align: center;
  font-size: 50px;
  padding: 50px 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 300;
}

#generic_price_table_home .itemnametext {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: inline-block;
}

#generic_price_table_home .footer {
  padding: 40px 0;
}

.price-heading {
  text-align: center;
}

.price-heading h1 {
  color: #666;
  margin: 0;
  padding: 0 0 50px 0;
}

#generic_price_table .itemName,
#generic_price_table .subName {
  position: relative;
  margin-bottom: 20px;
}

#generic_price_table .itemName:before,
#generic_price_table .subName:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #BD6378;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.demo-button {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.bottom_btn {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 28px;
  margin: 60px auto 20px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}

.demo-button:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.bottom_btn:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.nav-tabs li a span.light {
  background-color: #b50323;
}
.nav-tabs li a:hover span.light {
  background-color: #BD6378;
}
.nav-tabs li a.active {
  background: -webkit-linear-gradient(top, #BD6378 0, #b50323 100%);
  color: white;
}

/*# sourceMappingURL=app-darkpink.css.map */
