﻿
#BM {
width:200px; height:15px; color:white; font-family:Calibri; background-color:red;
}
@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

#Button1:hover
{ -moz-animation-name: thumb;
	-moz-animation-duration: 200ms;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}


.textboxesAnimtn{
	animation-name: TextboxesAnim;
	-webkit-animation-name: TextboxesAnim;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}



@keyframes BM1 {
	
	
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes BM1 {
	
	
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}


@keyframes TextboxesAnim {
	
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes TextboxesAnim {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}


#BM1{
   
    height:90px;
    margin-top: 49px; width: 495px;
 background-image:url("Images/WelcomePanal.png");
background-repeat:no-repeat;
animation-name: BM1;
	-webkit-animation-name: BM1;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
 
@-moz-keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
}

@-webkit-keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
}


#Button1{
background-image:url("Images/loginbtn.png"); 
border-radius:40px;
border-style:none;
color:white;
animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
-webkit-animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;

}

#text_boxes_div {
       background-image:url("Images/TextBoxes3.png");
       background-repeat:no-repeat;
}
#BM2 {
     background-image:url("Images/BM2.jpg");
     width:500px;
     height:90px;
     margin-top: -93px;
     margin-left: 328px;
     animation-name: BM2Anim;
	-webkit-animation-name: BM2Anim;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
#Main_Div {
    margin-top: -27px;
    border-radius:20px;
    width: 500px;
    margin-left:380px;
    
    box-shadow:10px 10px 30px;
}
#Login_uper_portion_div {
   
     border-top-left-radius:20px;
     width: 500px;	
             border-top-right-radius:20px;	
    
    }
             
#Login_Panal
         {
             
            margin-top: -166px;
             
             width:500px;
             height:250px;
             
	         border-bottom-left-radius:20px;	
             border-bottom-right-radius:20px;	
	         background: rgb(0, 0, 0) transparent;   
             background: rgba(0, 0, 0, 0.6);       
         }

        body {
            background-repeat:no-repeat;
      background-image:url(Images/loginMain.jpg)  ;
        }


 
        #Welcome_Note {  
            
            background-repeat:no-repeat;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            background-image:url("Images/Login_uper_portion.png");
            height: 93px;
            margin-left: 100px;
        }