﻿ #bodybg {
            background: url("../Images/body6.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        .navbar-default li:hover {
            background-color: #CC0000;
            color: white;
        }