﻿
.dropdown-menu  .dropdown-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover > .dropdown-menu {
    visibility: visible;
    display: block;
}

.navbar .dropdown-menu  .dropdown-menu:before {
    border-bottom: 7px transparent;
    border-left: none;
    border-right: 7px rgba(0, 0, 0, 0.2);
    border-top: 7px transparent;
    left: -7px;
    top: 10px;
}
.navbar .dropdown-menu .dropdown-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-menu .sub-menu {
visibility: hidden;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}