﻿
.saleEdit [name=Invoice] {
    width: 40%;
    float: left;
}

.saleEdit .leftRightButtons {
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}

    .saleEdit .leftRightButtons a {
        background: #f1cb57;
        width: 45%;
        height: 91%;
        float: left;
        border: none;
        border-radius: 5px;
        margin-left: 3%;
        padding: 3px;
    }

        .saleEdit .leftRightButtons a:hover {
            background: #c5bec7 !important;
        }

.itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}

@media (max-width: 767px) {
    .itemMeta i {
        font-size: 10px !important;
        padding: 7px 0 0px 0px;
    }
}

.userlLabel, .itemMeta .selectDiv {
    background: #f1cb57 !important
}

.searchAppSection, .footerTotalSection, .itemsFooter, .editSaleInvoice2Section .allItemsView .itemsHeader {
    /*background:#3ba500 !important;*/
    background: #dcaf27 !important;
}

input {
    color: #7b5d01 !important;
}

.itemMeta div {
    border: 1px #3ba500 !important;
    border-radius: 2px !important;
}

.itemSellBtn {
    color: #dcaf27 !important;
}

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item {
    color: #dcaf27 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #f1cb57 !important;
    border-radius: 10px !important;
}

.ui-state-focus {
    background-color: #c5bec7 !important;
    color: white !important;
    border: 0 !important;
    cursor: pointer
}

.ui-state-active {
    background-color: #c5bec7 !important;
    color: white !important;
    border: 0 !important;
    cursor: pointer
}

.ui-menu-item {
    width: 100%;
    background-color: #EEEEEE;
    height: 40px;
    color: rgb(245, 176, 104);
    padding: 8px 10px 0px 12px
}

.ui-menu-item {
    border: 0px solid !important;
}

.ManSelectDiv .dd-options {
    top: 24px;
    border-color: #f1cb57 !important;
}

.dd-options {
    top: 26px;
}

.dd-option {
    background: #f1cb57 !important;
}

    .dd-option:hover {
        background: #c5bec7 !important;
    }

.allItemsView .descriptionData input, allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
    border: 0.5px solid #f1cb57;
    background: #F5F5F5;
}

.itemSellBtn, .loginBtn {
    border: 1px solid #dcaf27;
}

.allItemsView .itemsSection .itemRow:hover {
    background: #c5bec7;
}

.disableClick .fa.fa-chevron-circle-left {
    color: grey !important;
    margin-left: -35px;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.disableClick .fa.fa-chevron-circle-right {
    color: grey !important;
    margin-left: 35px;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.leftRightButtons .disableClick {
    background: lightgrey !important;
}

    .leftRightButtons .disableClick:hover {
        background: lightgrey !important;
    }

#ContentPlaceHolder1_Invoice {
    width: 40% !important;
    float: left;
}






.btn-bm {
    background: #f1cb57;
    color: white !important;
    border: 1px solid #cfd7da;
}

    .btn-bm:hover {
        background: #f7d775
    }

.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #f1cb57;
    height: 33px;
    float: left;
    border: 1px solid #fbeec5;
}

.sale .leftRightButtons a:hover {
    background: #f7d775 !important;
    cursor: pointer;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #f1cb57 !important;
    box-shadow: #f1cb57 0 1px 3px 0 inset !important;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
    opacity: 0.5;
    background: #cbceae;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    background: #f1cb57 !important;
    border-color: #f1cb57 !important;
    color: aliceblue !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #abb16d;
}

.dd-select {
    background: #f1cb57 !important;
}

.dd-select {
    background: #f1cb57 !important;
}

.allItemsView .itemsHeader {
    background: #dcaf27 !important;
}

.badge-bm {
    background-color: #f1cb57;
}

.Ime-header {
    background: #dcaf27;
}

#powerTip {
    background-color: #f1cb57 !important;
}

    #powerTip:before {
        color: #f1cb57 !important;
    }

.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}

a#deleteInvoice {
    background: #e0b5b5 !important;
}

    a#deleteInvoice i.fas.fa-trash {
        color: #bc0202 !important;
    }

a#printInvoice {
    background: #9accdb !important;
}

    a#printInvoice i {
        color: #0a529f !important;
    }

.searchAppSection .dd-select {
    background: #937d9700 !important;
}
.itemMeta .input__label-content i {
    font-size: 12px !important;
    width: auto !important;
    display: inline-block !important;
}