﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpage.Master" AutoEventWireup="true" CodeBehind="frmPartyBalanceGroupWise1.aspx.cs" Inherits="WebPOS.Reports.ReceivablePayable.frmPartyBalanceGroupWise1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="<%= ResolveUrl("~/css/style.css") %>" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/css/reset.css") %>" rel="stylesheet" />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
         <br /> <h2 class="heading" >Party Group Wise Balance Summary</h2><br />
       
    <div style ="width:100%;height:100%;text-align:center; vertical-align:middle">
   
   <table border="0" style="width:100%"> 
        <tr style="background-color:aliceblue;align-items:center">
            <td>
                <asp:Label ID="Label2" runat="server" Text="Start Date"></asp:Label>
                <asp:TextBox ID="txtStartDate" CssClass="datetimepicker"  runat="server" ReadOnly="True"></asp:TextBox> 
                <asp:Label ID="Label3" runat="server" Text="End Date"></asp:Label>
                <asp:TextBox ID="txtEndDate" CssClass="datetimepicker"  runat="server" ReadOnly="True"></asp:TextBox>
                <asp:Label ID="Label4" runat="server" Text="Select Party Group"></asp:Label>
                 <asp:DropDownList ID="lstPartyGroup" runat="server"></asp:DropDownList>
                <asp:Button ID="Button1" runat="server" Text="Report" OnClick="Button1_Click"  />
 
            </td>
        </tr>
    </table>                
    
               
 <br/>

        <asp:GridView CssClass="grid" ID="GridView1"  AutoGenerateColumns="False" HeaderStyle-BackColor ="WhiteSmoke"   AlternatingRowStyle-BackColor ="WhiteSmoke"
      runat="server" OnRowDataBound="GridView1_RowDataBound" ShowFooter="True" FooterStyle-BackColor="Wheat" BackColor="White" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" CellPadding="3" GridLines="Vertical" >
<AlternatingRowStyle BackColor="#DCDCDC"></AlternatingRowStyle>
      <Columns>
          
          <asp:TemplateField HeaderText="S. #"> 
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="Label1" runat="server"  Text='<%# Convert.ToInt32( Container.DataItemIndex+1) %>'></asp:Label>
               </span> 
          </ItemTemplate>
               <ItemStyle HorizontalAlign="Center" />
          </asp:TemplateField>
          
        <asp:BoundField HeaderText="PartyCode" DataField="Code" ReadOnly="true"  >
          <ItemStyle HorizontalAlign="Center" />
          </asp:BoundField>
          <asp:BoundField HeaderText="Party Name" DataField="Name"  ReadOnly="true"  >
          <ItemStyle HorizontalAlign="Left" />
          </asp:BoundField>


        <asp:BoundField HeaderText="Address" DataField="Address" ReadOnly="true"  />

        <asp:BoundField HeaderText="Mobile" DataField="Mobile" ReadOnly="true" >
          <ItemStyle HorizontalAlign="Right" />
          </asp:BoundField>
       

         
          <asp:TemplateField HeaderText="Opening Balance">
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="lblOp" runat="server"  Text='<%#       PartyOpBal( Convert.ToString( Eval("Code")),Convert.ToDateTime(txtStartDate.Text ),  Convert.ToInt16( Eval("NorBalance"))) %>'></asp:Label></span> 
            </ItemTemplate>
               <ItemStyle HorizontalAlign="Right" />
          </asp:TemplateField>
          
          <asp:TemplateField HeaderText="Debit">
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="lblDr" runat="server"  Text='<%# UpToDateDr( Convert.ToString( Eval("Code"))) %>'></asp:Label></span> 
            </ItemTemplate>
               <ItemStyle HorizontalAlign="Right" />
          </asp:TemplateField>
          
          <asp:TemplateField HeaderText="Credit">
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="lblCr" runat="server"  Text='<%# UpToDateCr( Convert.ToString( Eval("Code"))) %>'></asp:Label></span> 
            </ItemTemplate>
               <ItemStyle HorizontalAlign="Right" />
          </asp:TemplateField>
          
          <asp:TemplateField HeaderText="Closing Balance">
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="lblCloBal" runat="server"  Text='<%#     Closing( Convert.ToString( Eval("Code")), Convert.ToInt16( Eval("NorBalance")))     %>'></asp:Label></span> 
            </ItemTemplate>
               <ItemStyle HorizontalAlign="Right" />
          </asp:TemplateField>
          
          <asp:TemplateField HeaderText="Current Balance">
               <ItemTemplate> <span style="text-align:left"> <asp:Label ID="lblCurrBal" runat="server"  Text='<%# Eval("Balance") %>'></asp:Label></span> 
            </ItemTemplate>
               <ItemStyle HorizontalAlign="Right" />
          </asp:TemplateField>
          
      </Columns>

    <FooterStyle BackColor="#CCCCCC" ForeColor="Black"></FooterStyle>

     <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White"></HeaderStyle>
            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
            <RowStyle BackColor="#EEEEEE" ForeColor="Black" />
            <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
            <SortedAscendingCellStyle BackColor="#F1F1F1" />
            <SortedAscendingHeaderStyle BackColor="#0000A9" />
            <SortedDescendingCellStyle BackColor="#CAC9C9" />
            <SortedDescendingHeaderStyle BackColor="#000065" />
    </asp:GridView>

    
</div>
</asp:Content>