$main_background_color: #BD6378;
$main_color: #BD6378;
$main_color_light_shade: #cf8596;
$main_color_vlight_shade: #dd9aaa;
$main_color_dark_shade: #b50323;
$main_color_hover_shade: #dd9aaa;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #BD6378;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #BD6378;
$matt_black: #212529;
$dark_blue_color: #283959 ;
$box_shadow_color: #dd9aaa;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #f5e5e8;
$lightColor: #B9C1CA;

#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-darkpink {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';