$main_background_color: #CC1839;
$main_color: #CC1839;
$main_color_light_shade: #db576f;
$main_color_vlight_shade: #e07d8f;
$main_color_dark_shade: #b50323;
$main_color_hover_shade: #e07d8f;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #CC1839;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #CC1839;
$matt_black: #212529;
$dark_blue_color: #283959 ;
$box_shadow_color: #db576f;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #ffe8ec;
$lightColor: #B9C1CA ;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-redy {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';