
$main_background_color: #a5a5a5;
$main_color: #e3e3e3;
$main_color_light_shade: #c0c0c0;
$main_color_vlight_shade: #e6e6e6;
$main_color_dark_shade: #555555;
$main_color_hover_shade: #727272;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #7eb69f;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #7eb69f;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #d1d1d1;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #fcfcfc;
$lightColor: #5a5a5a ;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-seagreen {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'light-app';