﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebPOS.Masellinious.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="../Script/jquery-ui.min.js"></script>
    <script src="../Script/jquery.min.js"></script>
  
    <script src="abc.js"></script>
    <style>

        .blue{

            border:2px solid blue;

        }


    </style>
</head>
<body>
    <form id="form1" runat="server">



<p></p>User Name<input type="text" name="name" value="" />    </p>
    
<p>Password<input type="password" name="name" value="" />    </p>
    
    </form>
        
   
</body>
</html>
